[2018-11-21 09:27] yuvalif opened #1 "NetworkManager-libnm may have compatibility issue between container and host"
Possible solutions:
(1) add operator to check version on host (```yum info NetworkManager-libnm```) and fetch the right image of the container to be used in the daemon-set (several images will have to be built)
(2) another option is to not install NetworkManager-libnm in the container at all, and mount the needed objects from the host into the container
(3) third option would be to install full Ne

[2018-11-21 16:20] yuvalif opened #2 "add validating for NodeNetworkState object"
- should make sure that only one state object exist per node, and that: object name == node name
- other content validations may also be needed

[2018-11-21 16:48] yuvalif opened #3 "add status object to NodeNetworkState with nmstate error"
following states should be added (also sent as events):
Initial - object was created by controller no state to apply
Syncing - object is managed, state to apply, but nmstate replied with error (error descriptions is also added)
Synced - object is managed, state to apply, nmstate replied with success, or no state to apply
Unmanaged - object is un-managed

[2018-11-21 16:56] yuvalif opened #4 "remove all fmt.Print and use klog instead"

[2018-11-21 17:00] yuvalif opened #5 "add make docker-push"
should push all images to: https://hub.docker.com/u/nmstate/
pod definitions should be updated accordingly (not to pull from yuvalif repo)

[2018-11-21 17:02] yuvalif opened #6 "add periodic polling of node state and update of state object on change"
this should be done regardless of status of the desired state (even if synced)

[2018-11-21 17:04] yuvalif opened #7 "add support for NodeNetworkstate deletion events"
controller should re-create the object similarly to the way it is done on startup (no desired state)

[2018-11-21 17:08] yuvalif opened #8 "merge state controller and client binary"
as there is some code duplication between the 2 (using a flag).
should probably remove the (unimplemented) policy client implementation from the client, and have policy client and controller share the same binary.

[2018-11-22 08:20] yuvalif opened #9 "install nmstate from rpm and not build from source"

[2018-11-22 08:31] yuvalif opened #10 "add deployment yaml"
- rbac
- ds
- crd

[2018-11-22 08:45] yuvalif commented on #6
in the run function do select on (queue, timer)

[2018-11-22 09:33] yuvalif commented on #8
also move the controller code under pkg

[2018-11-22 09:37] yuvalif opened #11 "add documentation"
- dev readme
- user readme + demo + into

[2018-11-22 09:41] yuvalif opened #12 "add controller configuration for retry and polling rate"
should be done via a configmap + env variables to be statically set on startup

[2018-11-22 09:42] yuvalif opened #13 "remove NodeNetworkState after Node removal"
when node is deleted, the CRD should be removed as well

[2018-11-22 11:57] yuvalif opened #14 "test openshift compatibility"
especially any RBAC issues

[2018-11-22 15:49] yuvalif opened #16 "investigate: use a single worker"
the controller is handling only a single object (the state for its node) - single threaded handling should be better

[2018-11-26 09:25] phoracek opened #17 "NodeNetConfPolicies should be cluster-wide resource"
Currently, NodeNetConfPolicy is a namespaced resource. Since Nodes themselves are cluster-wide, so should be NodeNetConfPolicy.

[2018-11-26 10:29] phoracek commented on #17
It's not, "The CRD can be either namespaced or cluster-scoped, as specified in the CRD’s scope field." https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresourcedefinition

[2018-12-05 18:09] phoracek opened #18 "client: get node name from manifest"
Instead of looking up pod's node on Kubernetes API, we can pass it as an environment variable

[2018-12-05 18:09] phoracek opened #19 "Add deployment steps for OpenShift"
On openshift we also have to apply additional SCC rules.

[2018-12-05 18:10] phoracek opened #20 "Add verbose logging from nmstate"
When nmstatectl fails, we only get return code. We should make it, so full error message appears in Kubernetes logs

[2019-02-08 18:51] phoracek commented on #20
Addressed in https://github.com/nmstate/kubernetes-nmstate/pull/23

[2019-02-10 16:00] #20 closed

[2019-02-18 19:09] phoracek commented on #5
images are now hosted on quay.io and their builds are automated.

https://quay.io/repository/nmstate/kubernetes-nmstate-state-handler?tab=info
https://quay.io/repository/nmstate/kubernetes-nmstate-configuration-policy-handler?tab=info

[2019-02-18 19:09] #5 closed

[2019-05-17 14:22] phoracek opened #38 "Bridge ports are not reported"
Our types.go expect json key `ports`, but nmstate returns `port`. We also need to set `omitempty` on all properties of the port but its name.

Should be:

[code]

[2019-05-17 14:23] phoracek opened #39 "`make generate` is broken"
We need to fix our vendoring, it seems like we don't ship generator modules under vendor/.

[2019-05-17 14:29] phoracek commented on #38
@qinqon

[2019-05-17 14:55] phoracek opened #40 "Use nmstate's OpenAPI"
nmstate defines its API using OpenAPI (aka swagger). Let's try to find out whether we can somehow use that specification instead of copying everything under types.go.

[2019-05-17 16:04] phoracek opened #41 "use newer version of nmstate"
We haven't upgraded used nmstate version in a while. We should.

[2019-05-17 16:13] phoracek commented on #38
Type, VlanMode and AccessTag are only for OVS bridge (a guess), linux bridge needs following:

[code]

[2019-05-19 03:14] SchSeba commented on #38
I think also vlan is for LinuxBridge.

running the `bridge vlan show` command

[2019-05-19 04:38] phoracek commented on #38
Yeah, but it is not supported by nmstate yet

[2019-05-22 16:06] phoracek opened #44 "keep separate struct for ovs and Linux bridge ports"
For the sake of documentation and better readability, let's keep separate struct types for ovs and Linux ports (unless they are the same type in nmstate spec).

[2019-05-22 19:52] qinqon commented on #39
I think this is fixed with the vendoring fix.

[2019-05-22 19:53] qinqon commented on #18
Closing this since we have add NODE_NAME to pods

[2019-05-22 19:53] #18 closed

[2019-05-23 12:55] qinqon opened #45 "stp config is mandatory even if stp is disabled"
when configuring linux bridges even if we set stp enabled: false we still need to set various stp attributes like this
        bridge:
          options:
            stp:
              enabled: false
          port:
            - name: eth1
              stp-hairpin-mode: false
              stp-path-cost: 100
              stp-priority: 32

Issue https://github.com/nmstate/nmstate/issues/443

[2019-05-23 13:22] phoracek opened #46 "nmstate NetworkManager config file"
nmstate README.md states that nmstate requires some tweaks on NetworkManager configuration: https://github.com/nmstate/nmstate#install-pre-requirements. Let's research whether we need to address that.

[2019-05-27 10:07] phoracek opened #48 "remove iface if not listed anymore"
https://github.com/nmstate/kubernetes-nmstate/pull/43#discussion_r287724131

I believe that we should remove interfaces that are not listed in NodeNetworkState anymore. Let's discuss it further.

[2019-05-27 10:08] qinqon commented on #48
Then we have to first discover them and then include in the DesiredState with "absent" state ? or do you mean changing nmstate all together ?

[2019-05-27 10:42] phoracek commented on #48
@EdDev:

We don't need to discover them. On NodeNetworkState update we see previous and new configuration. We would just set absent on those interfaces that were present in previous and are not in the new.

Let us keep this issue for a while, I don't want to spend too much time with it now, when we don't have anything really working and used. Once we have real use-cases, we can discuss what would

[2019-05-27 11:17] qinqon commented on #38
PR #43 has merge so we can close this

[2019-05-27 11:17] #38 closed

[2019-05-27 11:22] qinqon opened #50 "Add minimal NetworkManager health check at daemon set start"
during daemon startup, test that nmstatectl is working (returns any interfaces), if not, log that that is the case (user please make sure networkmanager is running) and return 1

[2019-05-28 09:50] qinqon opened #52 "KUBEVIRT_NUM_NODES=2 with multiple nics make cluster-up not working"
It just startup node01 and not node02.

[2019-05-28 10:07] phoracek commented on #52
@qinqon It fails because of passed QEMU argument. We pass additional arguments to connect our node VM to a secondary network. The problem is, that it take one argument passed to all nodes, while each node should get a unique value. I'm afraid there is no way around it, only dropping the NIC. Maybe we could add a patch to kubevirt/kubevirtci.

[2019-05-28 10:10] qinqon commented on #52
@phoracek we can address that in this PR too, but this is only about correctly exercising the regex.

[2019-05-28 10:12] phoracek commented on #52
@qinqon this issue says "cluster-up not working", which I believe will remain true even after #53. Let's keep that PR for regex only

[2019-05-28 10:13] qinqon commented on #52
Humm that's right, then I remove the "Closes" from it.

[2019-05-29 05:38] #50 closed

[2019-06-04 08:36] qinqon opened #67 "Run operator-sdk from vendor"
Currectly contributor needs to install it with the correct version.

We can do:
[code]

For that we need the following at Gopkg.toml
required = [
  "github.com/operator-framework/operator-sdk/cmd/operator-sdk",
]

[2019-06-04 08:37] qinqon opened #68 "Run ginkgo command from vendor directory"
Right now contributor has to do a go get of ginkgo with correct version, investigate if we can use and installing version from vendor.

[2019-06-04 13:45] qinqon opened #69 "pkg_resources.DistributionNotFound: dbus-python"
We are consuming nmstate RPM from fedora copr build server and looks like latest one is broken
nmstatectl show
Traceback (most recent call last):
  File "/usr/bin/nmstatectl", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python2.7/site-packages/pkg_resources.py", line 3007, in <module>
    working_set.require(__requires__)
  File "/usr/lib/python2.7/site-pack

[2019-06-04 16:50] #69 closed

[2019-06-10 10:28] #68 closed

[2019-06-10 10:30] qinqon opened #76 "Add schema validation for e2e tests"
The nmstate schema is [here](https://github.com/nmstate/nmstate/blob/master/libnmstate/schemas/operational-state.yaml) we can use it to validate our e2e tests.

[2019-06-10 10:38] qinqon opened #77 "Pod exec does not work with test/local/e2e"
Running operator as a golang process instead of a container inside the cluster prevent pod exec from working, also the error is empty and debugging it looks like it's a 404

[2019-06-10 11:13] phoracek commented on #2
This can be done either by webhook or CRD OpenAPI check.

[2019-06-10 11:20] qinqon commented on #2
Also with less priority validate nmstate date twords [schema](https://github.com/nmstate/nmstate/blob/master/libnmstate/schemas/operational-state.yaml) before it reaches host

[2019-06-10 11:26] #4 closed

[2019-06-10 11:26] #6 closed

[2019-06-10 11:29] qinqon commented on #7
Re think it now that Node is the owner

[2019-06-10 15:17] phoracek opened #78 "Run per-node"
In order to avoid connectivity issues, we should run per node. After we get our current PRs merged, let's follow:

- [x] Remove leader election and run tests again, when executed on a single node, it should still pass
- [x] Share a single container between operator and nmstatectl, drop exec logic and just call it locally
- [x] Add selector reconciling only local node

With this change, we should a

[2019-06-12 06:33] qinqon commented on #67
Closed by #72

[2019-06-12 06:33] #67 closed

[2019-06-12 06:47] qinqon commented on #78
Would be nice to fix #52 so we can test with multiple nodes, now that we have a distributed handler is makes more sense.

[2019-06-12 15:35] phoracek commented on #3
/assign @HlinaCZ

[2019-06-17 11:06] #8 closed

[2019-06-17 11:07] #9 closed

[2019-06-17 11:07] #10 closed

[2019-06-17 11:07] #11 closed

[2019-06-17 11:11] phoracek commented on #13
Should be done using ownerReference or a controller.

[2019-06-17 11:13] #14 closed

[2019-06-17 11:17] #17 closed

[2019-06-17 11:17] #19 closed

[2019-06-17 11:18] #41 closed

[2019-06-17 11:18] #44 closed

[2019-06-20 12:25] qinqon opened #98 "Change api version to alpha"
We are not v1 we have to change to v1alpha1 or something similar.

[2019-06-20 12:49] qinqon opened #99 "move to golang modules"
So we can ditch GOPATH, but keep vendoring

[2019-06-20 12:50] qinqon opened #100 "Filter k8s logs at AfterEach per timestamp"
We are showing too much stuff let's just show stuff related to the test.

[2019-06-21 11:43] qinqon commented on #77
Now that we have change the architecture this does not make any sense.

[2019-06-21 11:43] #77 closed

[2019-06-24 11:10] #40 closed

[2019-06-24 11:10] #39 closed

[2019-06-24 11:14] #78 closed

[2019-06-24 11:20] qinqon commented on #52
Add new test that just creates bridge and one node and we test both, so we need multinode to test it.

Also bypass this if we are not in multinode env.

[2019-06-24 11:27] #7 closed

[2019-06-24 11:30] qinqon opened #108 "Implement manage flag at NodeNetworkState"
Do same thing as design doc.

[2019-06-24 11:35] phoracek opened #109 "Filter out veth interfaces from status"
The observed state currently lists all interfaces of the host. With Kubernetes, that can be even around hundred veth interfaces connecting Pods to cluster network. I'd say those interfaces are not as important for node networking and we should filter them out by default (user can request to list them by setting a flag on NodeNetworkState).

[2019-06-24 14:25] qinqon opened #110 "Use quay.io image at operator.yaml"
And use the URL as replacement token for make cluster-sync

[2019-06-25 11:44] qinqon opened #112 "Migrate CI to prow"
It's what kubevir is using and have nice commands and automerge functionality.

[2019-06-25 12:29] qinqon opened #113 "Concatenate manifests into one file"
To easy things up we can concatenate manifests into a big yaml at least for releases.

[2019-06-25 14:51] #98 closed

[2019-06-26 06:50] qinqon commented on #16
So this is the place we workers are started up
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go#L155

[2019-06-26 06:51] qinqon commented on #16
And looks like by default is one
https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/internal/controller/controller.go#L50

So we are all good here.

[2019-06-26 06:53] #16 closed

[2019-06-26 12:49] phoracek opened #117 "e2e tests treat NodeNetworkState as namespaced"
Let's fix it.

[2019-06-27 11:02] #100 closed

[2019-06-27 12:30] qinqon opened #120 "Get nodes from kube api at test/e2e"
Right now just node01 is harcoded [here](https://github.com/nmstate/kubernetes-nmstate/blob/master/test/e2e/main_test.go#L20)

[2019-07-02 09:05] qinqon opened #124 "Take nmstate manifests from upstream project"
Instead of copy paste from it, take it from project, they need to follow the go template format we have here.

[2019-07-02 09:05] #124 closed

[2019-07-02 09:07] qinqon opened #125 "Use go template with cluster-network-addons-operator format for manifests"
So we can work this https://github.com/kubevirt/cluster-network-addons-operator/issues/178

[2019-07-02 09:40] qinqon commented on #125
Let's also investigate https://github.com/hairyhenderson/gomplate so we don't need to maintain some random go code.

[2019-07-10 13:59] HlinaCZ commented on #12
/assign @HlinaCZ

[2019-07-11 09:44] #12 closed

[2019-07-12 12:48] qinqon opened #131 "Add status conditions to NodeNetworkConfigurationPolicy"
It has to contain applied per node at status.

[2019-07-12 12:48] #110 closed

[2019-07-17 15:09] #120 closed

[2019-07-17 15:28] phoracek opened #139 "Add status conditions to NodeNetworkStatus"
Let's create a specification of our conditions.

We should be able to expose Success/Failure (with respective error output) in our State section. Since NodeNetworkStatus has two responsibilities - reporting and configuring, we should have separate conditions for both.

This specification should cover list of conditions and matrix with explanation of possible situations.

[2019-07-22 07:39] qinqon commented on #139
For sure we need the nmstatectl output on both reporting and configure, but I don't know if this is too long for a k8s CR, also with the addition of temporary fix for vlan_filtering we can have errors executing iproute commands directly.

[2019-07-23 17:10] #117 closed

[2019-07-25 14:12] phoracek opened #143 "Check whether created connections are persistent"
Let's double-check that connections created via NNCP survive reboot.

1) Create a new NNCP configuring an interface on top of a default NIC (vlan should be the simplest)
2) Reboot the node
3) Check that connection appears right after the boot, even before the kubelet is started
4) Check that the connection stays the same once kubelet starts and nmstate DS begins to operate

[2019-08-15 11:13] phoracek opened #152 "Implement rollback"
If we are not able to ping API server after setting up the desired configuration, we should rollback and report the fact in status. After such a failure we won't re-reconcile, just ask user to fix the configuration and try again.

https://github.com/nmstate/nmstate.github.io/pull/16/files#diff-200ded624176c188b194c79c3fc9bcfeR52

[2019-08-28 14:31] phoracek commented on #152
/assign @HlinaCZ

[2019-08-30 09:58] phoracek opened #157 "Use Fedora as the base image"
Currently we use CentOS as our base image and install nmstate from koji. We should replace it by Fedora and install nmstate from its repositories via `dnf`.

[2019-09-17 10:58] qinqon opened #171 "Support vlan-filtering configuration"
Starting with version 0.3, nmstate allows users to configure [vlan-filtering options](https://github.com/nmstate/nmstate/pull/892), e.g.:

[code]

kubernetes-nmstate however handles the vlan-filtering configuration with a [workaround script](https://github.com/nmstate/kubernetes-nmstate/blob/master/build/bin/vlan-filtering) which makes sure to enable vlan-filtering by default and treat all bridge

[2019-09-19 09:20] qinqon opened #174 "Check vlan 1 PVID egress untagged is set at linux-bridge ports"
We are not checking this at e2e test we have to check it.

[2019-09-20 10:51] phoracek opened #175 "Bridge gets random MAC after reboot"
Even though a bridge gets MAC of its first port when created, after reboot, it gets random MAC (set as cloned-mac-address) and due to that a different IP.

Investigate.

[2019-09-20 10:54] phoracek commented on #175
High priority since it require us to configure policy per node.

[2019-09-22 23:15] phoracek commented on #52
This has been solved. Multiple NICs now work on kubevirtci, thanks to @qinqon

[2019-09-22 23:15] #52 closed

[2019-09-22 23:15] phoracek commented on #45
The bug on nmstate has been fixed.

[2019-09-22 23:15] #45 closed

[2019-09-22 23:22] phoracek commented on #1
kubernetes-nmstate is used to setup default host networking. Although this is done on day-2, it has to survive reboots and be configured sooner than Kubernetes is started (since it provides the default network needed by Kubernetes). This is why (3) is not a viable option.

I'm not sure if I understand option (2). I don't think it is possible to use libnm built for different system inside the conta

[2019-09-22 23:24] phoracek commented on #46
I've been told that those configuration steps are not needed anymore. Plus they disappeared from the README.

[2019-09-22 23:24] #46 closed

[2019-09-23 14:29] SchSeba commented on #1
related to (2) I think we can maybe mount the host fs and use chroot to start the kubernetes-nmstate process in the host file system that way it will use the same libs like the host.

[2019-09-23 14:31] phoracek commented on #1
But it has dependencies on python modules AFAIK :/ We would need to get rid of those. Also it would be very funny container then :D

[2019-09-24 20:57] phoracek opened #180 "NodeSelector change does not trigger reconcile"
When `nodeSelector` is changed and it matches a new node, this node ignores it.

[2019-09-25 14:32] phoracek commented on #180
/assign @HlinaCZ

[2019-09-25 15:31] #3 closed

[2019-09-26 22:57] phoracek opened #184 "Stabilize vlan script"
The vlan script is a weak point in the configuration. However, there are few things we may do to make it more stable and predictable.

1. Wait for the bridge to become available before we start configuring.
2. Use nmstate rollback mechanism to revert configuration in case the VLAN script fails.

[2019-09-26 22:58] phoracek commented on #184
@qinqon ^^

[2019-09-27 07:04] qinqon commented on #184
Perfectly put.

[2019-09-27 17:28] #109 closed

[2019-09-27 18:04] #180 closed

[2019-09-30 11:02] qinqon opened #192 "Default route at bridge e2e test is not working"
We have mark it as pending, but we need to debug it, fix it and un-pending it.

[2019-10-01 10:56] qinqon opened #195 "Check ready condition at cluster-sync"
After we do a "make cluster-sync" we have to check that nmstate is ready with kubectl wait.

[2019-10-01 14:42] qinqon opened #197 "We should not re-concile on rollback"
When we implement rollback it wil be treated as a normal error and re-concile will be done, so nmstate will apply config and then rollback again in case of non transitory error, so currentState is going to cycle from pre-rollback to post-rollback state.

[2019-10-01 16:59] SchSeba commented on #184
Can we also change it to use the netlink package?

https://github.com/vishvananda/netlink

[2019-10-01 17:13] phoracek commented on #184
@SchSeba does it help with stabilization though? We have a few months left before we get proper VLAN support in nmstate.

[2019-10-01 18:45] qinqon commented on #184
Still with netlink rollback is needed since it's not going to be part of the nmstate transaction, my two cents goes to just wait to have it at nmstate.

Also proper way of doing this would be to also do rollback of the vlan filtering, but I don't know if it's worth.

[2019-10-03 12:22] #184 closed

[2019-10-04 16:52] #174 closed

[2019-10-07 12:37] phoracek opened #206 "Use single format for all logs"
`debug` and `production` log levels use different formatting. One of them uses pure structured logging, while the other mix of structured and old format of LEVELs and timestamps. We should align on a single format.

@qinqon @SchSeba @oshoval structured logs or old-school?

[2019-10-07 12:39] phoracek opened #207 "Show nmstate logs on multiple lines"
Currently we log output of `nmstatectl set` run on a single line in our logs, despite it is a several-lines-long output. That is rather hard (impossible) to read.

Let's make sure that logs obtained from nmstate are shown as multiline even in our output.

[2019-10-07 12:40] phoracek opened #208 "Fix zap logger fail"
Our logger often fails with:

[code]

Research what causes the issue and fix it.

[2019-10-07 12:41] phoracek opened #209 "Improve logging"
There is a lot that can be improved on our logging. This issue tracks all related issues.

* https://github.com/nmstate/kubernetes-nmstate/issues/206
* https://github.com/nmstate/kubernetes-nmstate/issues/207
* https://github.com/nmstate/kubernetes-nmstate/issues/208

After we resolve all of those, it should be easier to go over our `production` log and decide what should be dropped from where or

[2019-10-07 12:45] oshoval commented on #206
the structured one i think, like this
on debug both INFO and DEBUG are printed this way)
on production mode the other one happens.

2019-10-07T11:23:39.735Z        INFO    controller_nodenetworkstateconfiguration        Reconciling NodeNetworkStateConfiguration       {"Request.Namespace": "", "Request.Name": "node01"}
2019-10-07T11:23:39.735Z        DEBUG   controller_node Reconciling Node

[2019-10-07 12:51] phoracek commented on #206
@oshoval will it be possible to do structured and https://github.com/nmstate/kubernetes-nmstate/issues/207 at the same time?

[2019-10-07 15:53] oshoval opened #210 "Wrong WA sed command used in Dockerfile"
build/Dockerfile

RUN sed -i "s/nmclient.NM.DeviceType.OVS_INTERFACE,/nmclient.NM.DeviceType.OVS_INTERFACE, nmclient.NM.DeviceType.BRIDGE,/" /usr/lib/python3.7/site-packages/libnmstate/nm/applier.py

the following line might not do harm, but in case it runs twice
it will replace again "nmclient.NM.DeviceType.OVS_INTERFACE,"
with "nmclient.NM.DeviceType.OVS_INTERFACE, nmclient.NM.DeviceType.BRIDGE,

[2019-10-07 16:13] qinqon commented on #210
It will not run twice, since result is saved at container layer and not re-run

[2019-10-07 16:18] #210 closed

[2019-10-07 16:22] qinqon commented on #207
If we fix it, let's remove the e2e test fix to have multiline, does not make sense to do it twice.

[2019-10-07 19:55] phoracek commented on #207
@qinqon would you please link the code where we split the log to multiple lines? Wonder if it affects sctructured logs. Maybe we can make it configurable too...

[2019-10-07 19:57] phoracek commented on #210
@qinqon @oshoval we just need to make sure to drop it once we have a fix in nmstate. But even then, it should be harmless if we have the value twice in the list.

[2019-10-09 13:00] phoracek commented on #152
Resolved

[2019-10-09 13:00] #152 closed

[2019-10-09 13:26] #195 closed

[2019-10-09 20:26] phoracek opened #212 "Introduce `Byf` to our functional tests"
Having `By(fmt.Stringf(...))` everywhere is terrible. Let's introduce `Byf`.

[2019-10-10 07:24] qinqon commented on #207
@phoracek there https://github.com/nmstate/kubernetes-nmstate/blob/master/test/e2e/utils.go#L71

we replace literal "\n" with new line

[2019-10-11 18:22] #13 closed

[2019-10-14 08:27] qinqon commented on #197
Closed by https://github.com/nmstate/kubernetes-nmstate/pull/214

[2019-10-14 08:27] #197 closed

[2019-10-14 08:28] qinqon commented on #192
We have better results now, let's monitor it this week.

[2019-10-14 11:53] qinqon opened #219 "Create CI lane with latest networkmanager and nmstate"

[2019-10-21 15:48] phoracek opened #231 "Add list of supported platforms"
nmstate is heavily dependent on underlying platform. We should document which distributions, versions of NM and versions of Kubernetes are supported (tested).

[2019-11-04 22:07] phoracek commented on #48
We decided to follow nmstate's behavior and remove interfaces only upon explicit request.

[2019-11-04 22:07] #48 closed

[2019-11-04 22:08] phoracek commented on #108
We don't have any use-case for this. The state will get always reported, requested config always applied.

[2019-11-04 22:08] #108 closed

[2019-11-15 14:23] qinqon commented on #1
@thaller give us a way to check version with dbus:
[code]

[2019-11-15 14:24] qinqon opened #270 "Check test-policy enactment condition at afterEach"
We have to be sure that after we end every  e2e test that modify test-policy desiredState the Ready condition is ok.

[2019-11-26 09:41] yossisegev opened #274 "Defining an IP address to a bond via NodeNetworkConfigurationPolicy will end in a collision"
According to the [bond configuration spec](https://github.com/nmstate/kubernetes-nmstate/blob/master/docs/user-guide-policy-configure-linux-bond.md#configure-bond), you can define an IP address to the bond interface, in spec.desiredState.interfaces[bond entry].ipv4.address.
Deploying the policy will end up in an IP collision, because it will create a bond on each node, with all these bonds having

[2019-11-26 09:45] yossisegev opened #275 "Add a nodeSelector example to the bond configuration tutorial"
The [bond configuration tutorial](https://github.com/nmstate/kubernetes-nmstate/blob/master/docs/user-guide-policy-configure-linux-bond.md) currently doesn't have a nodeSelector example, like the ones in the bridge tutorials (e.g in [linux-bridge tutorial](https://github.com/nmstate/kubernetes-nmstate/blob/master/docs/user-guide-policy-configure-linux-bridge.md#selecting-nodes)).

[2019-11-28 10:13] myakove opened #278 "Failed to create BOND."
Using:
[code]

https://paste.fedoraproject.org/paste/ODZv3UlZwK8WPnTw4vI8~Q

[2019-11-28 13:13] phoracek commented on #278
Pasting the log, so we don't lose it:

[code]

[2019-11-29 18:34] phoracek commented on #274
You are right, the example is valid only with a single node in a cluster. We should change the example to use DHCP.

[2019-12-02 10:14] qinqon opened #281 "Check gen-k8s gen-openapi at travis"
We need to be sure that gen-k8s and gen-openapi is called when needed at a PR, so we need a change at README document it and al check at travis that check for file changes after calling them and fails.

[2019-12-11 15:40] phoracek commented on #112
Done \o/

[2019-12-11 15:41] #112 closed

[2019-12-15 13:53] yossisegev opened #305 "Missing keys in slaves list in bond manuals"
In both bond manuals - the slaves list is missing the key, which is "name", so the slaves appear as a list of strings rather than a list of dicts:
[code]
while it should be
[code]
This issue exists in:
1. https://github.com/nmstate/kubernetes-nmstate/blob/master/docs/user-guide-policy-configure-linux-bond.md#configure-bond
2. https://github.com/nmstate/kubernetes-nmstate/blob/master/docs/user-guid

[2019-12-15 15:39] RamLavi commented on #278
trying to recreate on commit 6eddc1be6bbf47cdb8ec4c42ad1384e6d794def3: **not** recreated in KUBEVIRT_PROVIDER k8s-1.15.1 with slight change in policy stated above: slaves altered eth1,eth2.

Please specify if there are any special conditions required to recreate issue.
Note: paste link is broken. please provide another.

[2019-12-15 17:34] phoracek commented on #305
Those manuals are correct. With Linux bonding, it is a list of strings (https://nmstate.github.io/examples.html#interfaces-bond) while with OVS, it is a list of objects.

[2019-12-15 17:34] #305 closed

[2019-12-15 23:01] phoracek commented on #99
Done

[2019-12-15 23:01] #99 closed

[2019-12-17 09:07] #131 closed

[2019-12-18 11:12] #274 closed

[2019-12-19 10:26] phoracek opened #309 "collect artifacts when tests fail"
**What happened**:
We don't have enough info from CI to debug failing tests.

**What you expected to happen**:
We should collect artifacts with nodes, container logs, node logs.

**Anything else we need to know?**:
This is already implement in kubevirt via https://github.com/kubevirt/kubevirt/tree/master/cmd/dump https://github.com/kubevirt/kubevirt/blob/master/tests/reporter/kubernetes.go ginkgo

[2019-12-19 14:12] phoracek opened #316 "Setup fails if there is no default route"
**What happened**:
When there is no default route on the host, we refuse to apply any configuration. It is blocked due to the fact that we use the default gw to perform connectivity check.

[code]

**What you expected to happen**:
There should be a fallback plan. We should either pick other target to ping or just skip the check.

**How to reproduce it (as minimally and precisely as possible)**:
Re

[2020-01-27 20:08] tsorya opened #355 "Not master node fails to start after reboot while bond or bridge is configured on primary nic"
**What happened**:
1. Configuring bond on primary and firstSecondary interfaces
2. Bond successfully configured and have same ip as primary nic as expected
3. Restarting Node2 and it fails to connect back to kubernetes master and got another hostname (localhost.localdomain) but still has configured bond with right ip and mac.
Restarting master node works perfectly well.

**What you expected to hap

[2020-01-27 20:09] tsorya commented on #355
@qinqon @phoracek

[2020-01-28 13:25] phoracek commented on #355
Thanks @tsorya!

The new hostname appears on the host or in `kubectl get nodes`?

[2020-01-28 14:19] tsorya commented on #355
@phoracek on the host that's why it fails to connect to master(at least it seems so).
on kubectl get nodes -> node is in state NotReady

[2020-01-28 14:43] phoracek commented on #355
I wonder who configures the hostname, it could be either be given by DHCP server on set locally. Does it survive reboots without bond configured?

[2020-01-28 14:51] tsorya commented on #355
Yap

[2020-01-28 14:55] phoracek commented on #355
And with a bridge without bonding? I'd like to make sure it is indeed caused by the bonding, then we can dig deeper to see if it is a bug in nmstate or NetworkManager

[2020-01-28 15:21] tsorya commented on #355
Didn't check. will try

[2020-01-28 16:00] tsorya commented on #355
@phoracek same problem with bridge

[2020-02-04 17:17] qinqon opened #384 "Do we really ned to vendor golang ?"
**What happened**:
Now we use install-go.sh to vendor golang version from the version at go.mod

**What you expected to happen**:
So project is stick with the version there.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Thing is we may not need it, since it looks like go compiler do a switch back to lang version
specified at go.mod [1] [2]

[2020-02-10 10:17] mardim91 opened #398 "Errors in the logs of nmstate-handler pods"
**What happened**:

I deployed kube-nmstate by following the arbitrary-cluster instructions. The nmstate-handler pods are up and running but I am seeing this error in the pod's logs:

`github.com/operator-framework/operator-sdk/pkg/kube-metrics/store.go:65: Failed to list *unstructured.Unstructured: the server could not find the requested resource`

**What you expected to happen**:

I expected not

[2020-02-10 10:22] phoracek commented on #398
Hello @mardim91, thanks for reporting this. This issue should be fixed on master via https://github.com/nmstate/kubernetes-nmstate/pull/378 and should disappear once we release a new version of kubernetes-nmstate in cluster-network-addons-operator. I will update this Issue once it is available, so we can verify that it is indeed fixed.

[2020-02-10 10:25] mardim91 commented on #398
Ok thanks a lot ! @phoracek

[2020-02-10 10:52] mardim91 opened #399 "Node's nmstate status is different from the actual status of the node"
**What happened**:

I am running the `kubectl get nns <node-name> -o yaml` to get the node's status. The output of the status is different from the actual status of the node

**What you expected to happen**:

So to give an example of the above problem.

- nmstate node's status output:
[code]

- ip a command output:

  ` ens3: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc fq_codel state UP group

[2020-02-10 11:07] phoracek commented on #399
@mardim91 I think this may be caused by the difference between `UP` on `ip link` and `UP` on NetworkManager. Would you please share `nmcli c` and `nmcli d` on your host?

[2020-02-10 11:19] mardim91 commented on #399
@phoracek Here it is.

![Capture_one](https://user-images.githubusercontent.com/26648396/74145558-70d56b80-4bff-11ea-82ca-4b7713800fa2.PNG)

[2020-02-10 11:22] phoracek commented on #399
Does `NodeNetworkState` show the other interfaces as `down` too? I suppose there is an IP address set on `ens3`, right?

[2020-02-10 11:23] qinqon commented on #399
@mardim91 what NetworkManager version is at the ubuntu nodes ?

[2020-02-10 11:24] mardim91 commented on #399
@phoracek Yes `kubectl get nns` cmd shows all the interfaces down. Also you are right there is an ip configured in `ens3` interface but that ip is not displayed at the output of `kubectl get nns` cmd

[2020-02-10 11:26] mardim91 commented on #399
@qinqon here:

![image](https://user-images.githubusercontent.com/26648396/74146035-84cd9d00-4c00-11ea-9e9a-46366740817f.png)

[2020-02-10 11:35] qinqon commented on #399
@mardim91 kubernetes-nmstate depends on networkmanager >= 1.20 ( I think we have to improve our requirements page @phoracek ).

[2020-02-10 11:37] mardim91 commented on #399
@qinqon Oh ok I will try to install an upgraded version of networkmanager Thanks!

[2020-02-10 11:39] mardim91 commented on #399
@qinqon @phoracek Also the network manager seems disconnected. But I do not know why.

![image](https://user-images.githubusercontent.com/26648396/74146883-5ea8fc80-4c02-11ea-80da-5980ce64f554.png)

[2020-02-10 11:55] phoracek commented on #399
That's weird. Please let us know how it looks after upgrade of NetworkManager.

[2020-02-10 11:57] mardim91 commented on #399
@qinqon @phoracek I found the issue.

The problem was netplan. In Ubuntu 18.04 they introduced netplan for the network configuration. So to make the NetworkManager to work is necessary to add this:

`network:
  version: 2
  renderer: NetworkManager`

in netplan's yaml file

I did that and it solved the issue.

**More info here** :

- https://netplan.io/
-  https://askubuntu.com/questions/1031956/n

[2020-02-10 11:57] mardim91 commented on #399
@phoracek The upgrade was not necessary after all

[2020-02-10 12:07] qinqon commented on #399
@mardim91 thanks so much !! we may add this to docs

[2020-02-10 12:07] #399 closed

[2020-02-10 12:11] phoracek commented on #399
@mardim91 Thanks. I would still encourage you to use a newer version. Some features (configuration of certain interfaces) may not work with older versions. Happy hacking!

[2020-02-10 12:37] mardim91 commented on #399
@phoracek @qinqon Thanks a lot!

[2020-02-10 13:59] phoracek commented on #399
Looking forward to more opened Issues!

[2020-02-10 17:09] mardim91 opened #402 "Failed to create NodeNetworkConfigurationPolicy resources in kube-nmstate"
**What happened**:

Try to create NodeNetworkConfigurationPolicy resources in my kubernetes cluster through the kube-nmstate but all the endeavours are failing.

**What you expected to happen**:

Expected to create succesfully the resources

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy kubernetes in Ubuntu (bionic-beaver) with kubeadm. Follow the instructions for the

[2020-02-10 17:17] phoracek commented on #402
Could you please share the following:

[code]

And logs of the running handlers?

[2020-02-10 17:17] phoracek commented on #402
Could you please share the following:

[code]

And logs of the running handlers?

[2020-02-11 08:21] mardim91 commented on #402
@phoracek here

https://hastebin.com/ejafaqufuz.coffeescript

Here are the logs form the pod:

https://hastebin.com/sidafidati.cpp

[2020-02-11 10:20] qinqon commented on #402
@mardim91 something is fishy enactment state is progressing but policy is failed.

[2020-02-11 11:02] mardim91 commented on #402
@qinqon here:

https://hastebin.com/wexizehipa.rb

[2020-02-11 12:23] qinqon commented on #402
Can you add the network manager logs to check why is not able to set the ip address ?

[2020-02-12 13:19] mardim91 commented on #402
@phoracek @qinqon I think that this problem happened because I was writing wrongly the yamls. BTW network manager 1.20 is a hard limit for the system to work without a problem. People can actually download network manager 1.20 by adding this [1] to apt source for ubuntu.

[1]:  deb http://cz.archive.ubuntu.com/ubuntu eoan main

I think we can close this issue

[2020-02-12 13:44] mardim91 opened #409 "Strange behaviour when you use node selector"
**What happened**:

In a three node cluster if I create a resource only for one node by using a node selector it will automatically create three nnce resources One for the actual selector and one for the other two nodes which I didn't choose. Is this normal?

So I used this yaml file to create a bond interface:  https://hastebin.com/onimezovig.bash

As you can see I have registered a node selector

[2020-02-12 13:51] qinqon commented on #402
@mardim91 just before we close is the yaml syntax error appearing at kubectl get nnce -o yaml ?

[2020-02-12 13:53] qinqon commented on #409
It creates a nnce for all the nodes independent of node selector, but at the nodes were nodeSelector does not match, conditions would have Matchin as False.

[2020-02-12 14:35] mardim91 commented on #402
@qinqon No it is not apparend in the logs what is the error. But I figured it out that the yaml is wrong. When I passed the correct yaml it worked.

[2020-02-12 14:36] mardim91 commented on #409
Oh ok. Then this is a normal behaviour then. I will close the issue. Thanks!

[2020-02-12 14:36] #409 closed

[2020-02-12 14:59] phoracek commented on #409
@mardim91 we added a new doc series to https://github.com/nmstate/kubernetes-nmstate/#deployment-and-usage. It should guide you through all the features

[2020-02-12 16:53] qinqon commented on #402
The desiredState is validates by nmstate, the error should appear at enactments, can you share the failed config ?

[2020-02-12 16:58] mardim91 commented on #402
So for instance I get this error now: https://hastebin.com/qugiwocage.cpp

When I am passing this config: https://hastebin.com/azabevugur.makefile

I am trying to change the ip and the mtu with the above config but it never changes I do not know why. This is what i am currently facing

[2020-02-13 12:29] phoracek commented on #402
The log suggest the configuration is still in progress. Would you please apply the desired state and than wait for the result with:

[code]

If it fails to reach available, please share logs again and also:

[code]

[2020-02-13 13:45] mardim91 commented on #402
@phoracek I have a hard time to find the correct yaml configuration to remove routes from the routing table?

Do you know how I do that ? I am not seeing any example in the documentation

[2020-02-13 14:17] phoracek commented on #402
We don't test/support it in kubernetes-nmstate, haven't got to it yet (PRs are most welcome).

I looked into the nmstate API docs: https://github.com/nmstate/nmstate.github.io/blob/master/devel/api.md#route

I suspect you can add `"state": "absent"` to it, just the way it is with interfaces.

[2020-02-13 14:20] mardim91 commented on #402
@phoracek Oh ok let me try that and I will let you know about the results :)

[2020-02-13 14:39] mardim91 commented on #402
@phoracek it is working I created and removed a route succesfully :)

[2020-02-13 14:40] phoracek commented on #402
\o/ yeaaah!

[2020-02-13 16:06] mardim91 commented on #402
@phoracek I am trying to run dns configurations and I get this error:  https://hastebin.com/ujalozusip.sql

This is the configuration that I am passing:

https://hastebin.com/rajibelivu.makefile

Any idea ?

[2020-02-13 16:20] phoracek commented on #402
Seems like a bug in nmstate. Could I ask you to open a separate issue for it?

As a workaround, add following to the desired state:

[code]

[2020-02-13 16:23] mardim91 commented on #402
@phoracek

That the workaround is not working now I get this error:

https://hastebin.com/initugocal.sql

[2020-02-13 16:26] mardim91 opened #416 "Unable to create DNS configuration"
**What happened**:

Tried to create some dns configuration throught this yaml:  https://hastebin.com/rajibelivu.makefile

But I got this error: https://hastebin.com/ujalozusip.sql

[2020-02-13 16:29] phoracek commented on #402
Is there any default route configured on the system? It looks like an nmstate bug. I will investigate more tomorrow, try to reproduce it and open on them.

If you get a chance to install https://github.com/nmstate/nmstate/ alone on your system and reproduce it via `nmstatectl`, that would make it faster to get resolved. We would be able to open a bug on them (or get advice on how to work around it

[2020-02-13 22:43] phoracek commented on #416
Policy:

[code]

Error:

[code]

[2020-02-14 07:55] mardim91 commented on #402
@phoracek Hello I have already nmstate installed locally on my stystem so I guess I can give it a try no problem.

[2020-02-14 08:45] qinqon commented on #416
Looks like you need to at a "interfaces" key to the desiredState.

[2020-02-14 08:47] phoracek commented on #416
That on its own would be a bug in nmstate. @mardim91 have tried it though but it failed on a different issue. We need to reproduce it with nmstatectl alone and open a bug on nmstate.

[2020-02-14 09:14] mardim91 commented on #416
@phoracek @qinqon I have reproduced it with nmstatectl. It seems like a bug to me

Yaml:

---
dns-resolver:
  config:
    search:
    - example.com
    - example.org
    server:
    - 8.8.8.8

Error:

nmstatectl set native_dns.yaml
Traceback (most recent call last):
  File "/usr/local/bin/nmstatectl", line 11, in <module>
    load_entry_point('nmstate==0.1.3', 'console_scripts', 'nmstatectl')()

[2020-02-14 09:28] phoracek commented on #416
And if you add `interfaces: []` ?

[2020-02-14 09:29] phoracek commented on #416
Oh, please use nmstate 0.2.X, 0.1 is way too old and won't get fixes anyway. (Just trying to collect enough info to open a good issue on nmstate)

[2020-02-14 09:41] mardim91 commented on #416
@phoracek Yes ok I just used the 1.3 because in kube-nmstate the image is 1.3 version.

[2020-02-14 09:51] mardim91 commented on #416
@phoracek Same problem with v0.2.3

[2020-02-14 09:56] phoracek commented on #416
knmstate has 0.2 inside, https://github.com/nmstate/kubernetes-nmstate/blob/master/build/Dockerfile#L4

Then one last thing would be to show what happens with `interfaces: []` and then we can open a bug!

[2020-02-14 09:58] mardim91 commented on #416
@phoracek Yes but when I followed the instruction to deploy the nstate operator it downloaded the 1.3 image.

[2020-02-14 09:59] phoracek commented on #416
Gotcha. The new operator version should be out today/tomorrow.

[2020-02-14 10:00] mardim91 commented on #416
the Yaml 👍
---
dns-resolver:
  config:
    search:
    - example.com
    - example.org
    server:
    - 8.8.8.8
interfaces: []

nmstate version -> v0.2.3
the Error:

nmstatectl set native_dns.yaml
Traceback (most recent call last):
  File "/usr/local/bin/nmstatectl", line 11, in <module>
    load_entry_point('nmstate==0.2.3', 'console_scripts', 'nmstatectl')()
  File "/usr/local/lib/python3.7/dis

[2020-02-14 10:04] phoracek commented on #416
Now one last step from our side, could you please open an issue describing this (with both `interfaces` and without it) to https://github.com/nmstate/nmstate/issues?

[2020-02-14 10:05] mardim91 commented on #416
@phoracek Yes I will do it in a minute

[2020-02-14 10:19] mardim91 commented on #416
Done https://github.com/nmstate/nmstate/issues/791

[2020-02-14 11:41] mardim91 commented on #398
@phoracek @qinqon The above error was appearing in a consistent and repeatitive manner in the logs of nmstate-handler and due to that no free disk space has left in my VMs which caused the VMs to pause.

[2020-02-15 08:27] qinqon commented on #398
Can you use latest cnao? It has kubernetes-nmstate updated.

El vie., 14 feb. 2020 12:41 p. m., Dimitrios Markou <
notifications@github.com> escribió:

[2020-02-17 13:30] mardim91 commented on #398
@phoracek @qinqon So I deployed with the latest cnao (0.27) and now I am seeing this error in the logs of the nmstate-handler(0.14).

E0217 13:26:57.441523       1 reflector.go:125] sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:204: Failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount:cluster-network-addons:nmstate-handler" cannot list resource "c

[2020-02-17 15:25] phoracek commented on #398
Thanks. That's annoying. We need to take a look into it @qinqon

[2020-02-17 15:54] phoracek commented on #398
Tackled in https://github.com/kubevirt/cluster-network-addons-operator/pull/296

[2020-02-18 15:11] mardim91 commented on #398
@phoracek @qinqon I have deployed with the latest cnao image and it seems that the error is gone.

Also I have read that if I want to configure ovs bridges you need to have NetworkManager-ovs plugin installed. Like this: https://reposcope.com/package/NetworkManager-ovs

Do you know where can I find this plugin for ubuntu? If you do not have the deb package can you please paste the source code repo

[2020-02-18 15:15] phoracek commented on #398
I don't really know how they build it, the best place to ask such questions would be https://mail.gnome.org/mailman/listinfo/networkmanager-list

[2020-02-18 15:16] mardim91 commented on #398
@phoracek ok thanks a lot

[2020-02-19 07:01] qinqon commented on #398
@mardim91 In case you find the way, can you open a PR at doc's with it ? Or share it here so we add it for other users ?

Thanks.

[2020-02-19 08:02] mardim91 commented on #398
@qinqon Yes if I find something usefull I will open the PR.

[2020-02-19 14:07] mardim91 commented on #398
@qinqon @phoracek In this thread [0] you will find the results of my investigation for the nm-openvswitch plugin in Ubuntu 16.04

[0] https://mail.gnome.org/archives/networkmanager-list/2020-February/msg00016.html

[2020-02-28 14:25] #278 closed

[2020-02-28 14:26] phoracek commented on #275
Node selectors are now documented in https://github.com/nmstate/kubernetes-nmstate/blob/master/docs/user-guide-102-configuration.md

[2020-02-28 14:26] #275 closed

[2020-02-28 14:51] phoracek commented on #402
@mardim91 can we close this issue? Is the original problem resolved?

[2020-02-28 14:53] phoracek commented on #398
@mardim91 thanks for the investigation. Can we close this issue now?

[2020-02-28 14:58] mardim91 commented on #402
@phoracek Yes we can close this issue!

[2020-02-28 14:59] mardim91 commented on #398
@phoracek Yes we can close this issue

[2020-02-28 15:11] #398 closed

[2020-02-28 15:12] phoracek commented on #309
Done

[2020-02-28 15:12] #309 closed

[2020-02-28 15:12] phoracek commented on #231
Done.

https://github.com/nmstate/kubernetes-nmstate/blob/master/CONTRIBUTING.md#networkmanager-compatibility

[2020-02-28 15:12] #231 closed

[2020-02-28 15:13] phoracek commented on #143
They are.

[2020-02-28 15:13] #143 closed

[2020-02-28 15:13] phoracek commented on #125
@qinqon ha! Look at this.

[2020-02-28 15:14] #2 closed

[2020-02-28 15:14] phoracek commented on #1
Should not be an issue if one of the support NM versions is used on the host.

https://github.com/nmstate/kubernetes-nmstate/blob/master/CONTRIBUTING.md#networkmanager-compatibility

[2020-02-28 15:14] #1 closed

[2020-02-28 15:15] #402 closed

[2020-02-29 11:37] phoracek opened #440 "Test!"
Don't mind me.

[2020-02-29 11:37] phoracek commented on #440
/test pull-kubernetes-nmstate-unit-test

[2020-02-29 12:48] #440 closed

[2020-03-03 06:50] qinqon commented on #125
Let's not introduce another tool, random golang that get compile with go run is good enough.

[2020-03-25 08:09] #125 closed

[2020-03-26 08:43] qinqon opened #468 "nnce takes some time to delete after kubectl delete nncp finish."
**What happened**:
When `kubectl delete nncp` is executed, after it finished, nnce are still there, and get deleted a later on.

**What you expected to happen**:
kubectl delete nncp to be blocked until nnce are deleted too.

**How to reproduce it (as minimally and precisely as possible)**:
Start a multinode cluster (5/6) and create a policy and delete it, all the
nnce will be there for a time wind

[2020-03-31 08:28] qinqon opened #473 "Calculate policy conditions counting nodes running nmstate pod."
**What happened**:
The policy condition was at progressing state forever since one of the nodes was at bad state and no nmstate pod was running there so node counting was taking it into accout, but enactment was never created.

**What you expected to happen**:
Whe we apply a policy if will be applied only at pods that are are running nmstate, so we have to take into account nodes that run nmstate

[2020-03-31 08:33] qinqon opened #474 "Race condition between rollback checks and Node state"
**What happened**:
When applying a policy that deals with primary nic and to test rollback policy was a success state but enacment was progressing and ended with failure (sice a rollback was expected) the issue is related to node counting for policy conditions, since only ready nodes are being counted and playing with primary nic can render one node temporally at NotReady, the comparation between

[2020-03-31 08:35] qinqon opened #475 "Bad log at policy condition success"
**What happened**:
We found that sometimes policy condition is success with "0/0" count.

**What you expected to happen**:
At least the it has to be 0/n, we found the issue at code https://github.com/nmstate/kubernetes-nmstate/blob/master/pkg/controller/nodenetworkconfigurationpolicy/policyconditions/conditions.go#L138

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2020-03-31 08:42] qinqon opened #476 "app label missing at daemonset"
**What happened**:
In case kubernetes-nmstate is deployed as past of bigger product within its namespace (like HCO) and filtering kubernet-nmstate daemonset is needed (like e2e test checking knmstate is up and running) we have to filter by pod name string or pod templates, adding the app=kubernetes-nmstate labels at daemonset make this much more convenient.

**What you expected to happen**:

**How

[2020-03-31 15:49] #474 closed

[2020-04-01 08:16] qinqon opened #482 "Post rollback probes are not run"
**What happened**:
The mechanism to run probes after rollback to wait for system to settle is not kickcking resulting in failure at policy status update.

**What you expected to happen**:
After rollback it takes some time to kubernets cluster to settle depending on type of network config (if changes are don at primary nic for example) so some probes are run to wait for apiserver to be ok and after

[2020-04-01 11:11] #482 closed

[2020-04-01 11:20] qinqon commented on #475
/kind bug

[2020-04-01 11:37] qinqon opened #486 "Calling kubectl delete nncp does not block until all nnce are deleted."
**What happened**:
A call to kubectl delete nncp was made but after finishing all the nnce were still there, it took some
time for them to dissappear.

**What you expected to happen**:
All the nnce to be deleted after nncp is deleted.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affected nodes (us

[2020-04-01 11:39] phoracek commented on #486
We can simply set the owner reference to block deletion of nncp until nnces are deleted.

[2020-04-01 12:43] qinqon commented on #476
/good-first-issue

[2020-04-01 12:43] qinqon commented on #476
/bug

[2020-04-01 12:44] qinqon commented on #476
/label kind/bug

[2020-04-01 12:44] qinqon commented on #476
/kind bug

[2020-04-07 09:27] #473 closed

[2020-04-09 08:46] phoracek opened #494 "SCC namespace is not templated"
**What happened**:

We forgot to add templating to SCC namespace: https://github.com/nmstate/kubernetes-nmstate/blob/master/deploy/openshift/scc.yaml#L14

**What you expected to happen**:

Namespace should not be hardcoded but taken from a variable.

[2020-04-09 08:46] phoracek commented on #494
@bcrochet @qinqon

[2020-04-14 10:36] phoracek opened #498 "Confirm SSH to a worker with "yes""
**What happened**:
While running e2e tests on an arbitrary cluster, ssh is asking for confirmation. We should auto-confirm that.

[code]

**What you expected to happen**:
All tests are just executed without human input.

**How to reproduce it (as minimally and precisely as possible)**:
Run tests on nodes we haven't sshed to yet.

[2020-04-16 12:34] bcrochet opened #507 "Operator image has too many layers"
**What happened**:
When the operator image is built, it ends up with too many unnecessary layers.
**What you expected to happen**:
Fewer layers.
**How to reproduce it (as minimally and precisely as possible)**:
Build the operator image

The number of layers can be reduced with fewer COPY commands. Discuss how to solve.

[2020-04-20 07:17] qinqon opened #510 "Add preflight checks to select probes after nmstatectl"
**What happened**:
In some env there is no ICMP connectivity so knmstate will not be able to run the default gw probe.

**What you expected to happen**:
knmstate running some pre-flight checks to select what probes can peform after `nmstatectl set`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affe

[2020-04-20 07:18] qinqon commented on #510
/kind enhancement

[2020-04-23 08:30] qinqon opened #515 "Integrate golang-lint"
**What happened**:
We do small linting, would be good to integrate the one from golang-ci itself, it's used at controller-runtime project

https://github.com/kubernetes-sigs/controller-runtime/blob/45db7e68271f72d1f76b2222648bb7ade5ef8f2e/Makefile#L75

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environ

[2020-04-26 10:36] yboaron opened #516 "Build Openshift handler image (build/Dockerfile.openshift) fails with error (No package matches nmstate)"
**What happened**:
Openshift handler image creation fails with error:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[centos@yossi1 kubernetes-nmstate]$ sudo podman build -f build/Dockerfile.openshift  -t yb  .
STEP 1: FROM registry.svc.ci.openshift.org/openshift/release:golang-1.13 AS builder
STEP 2: WORKDIR /go/src/github.com/openshift/kubern

[2020-04-27 16:23] ravidbro commented on #316
We found the same behavior if the default gateway is configured but can't be tested with PING.
We had this issue when trying to run nmstate on GCP which by definition clock PING requests to the gateway.
https://cloud.google.com/vpc/docs/vpc#reserved_ip_addresses_in_every_subnet

[2020-04-28 07:55] qinqon commented on #316
An idea is to use DNS resolving instead of ping they do that at ovirt
https://github.com/oVirt/ovirt-site/pull/1985/files

[2020-04-30 14:45] yboaron commented on #516
Seems that the root cause is nmstate rpm from AppStream repo is available only with a subscription.

[2020-05-11 20:20] phoracek opened #531 "render-manifests.go does not read arguments"
**What happened**:

On automated release, release-manifests.go was not able to parse set arguments which lead into a fatal error.

**What you expected to happen**:

Release passes.

**How to reproduce it (as minimally and precisely as possible)**:

Call `automation/release.sh`.

**Anything else we need to know?**:

[code]

[2020-06-03 11:50] #531 closed

[2020-06-03 11:53] #476 closed

[2020-06-03 11:54] #475 closed

[2020-06-15 09:45] #498 closed

[2020-06-17 03:48] jasinner commented on #171
Would this also allow us to remove hostNetworking SCC in OpenShift?

[2020-06-17 07:14] qinqon commented on #171
@jasinner we think so, but it will take time, also I think the latest nmstate do some stuff out of NetworkManager dbus @phoracek do you remember what was it ?

[2020-06-17 07:19] phoracek commented on #171
Underlying `nmstate` component we use to configure host networking indeed uses D-Bus to talk to NetworkManager, but it is not meant to be limited to it. `hostNetworking` will be always needed unless nmstate switches to "pure D-Bus" which I doubt. There will be always some additional work needed to do that NetworkManager may not support.

tl;dr: Even after we start using nmstate to set vlan_filteri

[2020-06-26 07:43] rmohr opened #567 "[prow] running a postsubmitted test failed with - fatal: Couldn't find remote ref deployment-strategy-recreate"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running a postsubmitted test failed with - fatal: Couldn't find remote ref deployment-strategy-recreate
The failure happened on nmstate/kubernetes-nmstate repo.

Link to the job - https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/publish-kubernetes-nmstate/1275716907839787008

**What you expected to happen**:
Shoud

[2020-06-26 07:43] rmohr commented on #567
/triage build-officer

This is most likely just a one-time hickup. Let's close it if the  next postsubmit is fine.

[2020-06-26 13:20] qinqon commented on #567
/assign qinqon

[2020-06-26 13:26] qinqon commented on #567
This job is running at `deployment-strategy-recreate` kubernetes-nmstate PR, and this is not suppose to happend since the job intention is to push kubernetes-nmstate-handler containers after merge to master and that PR is not merged.

[2020-06-26 13:45] qinqon commented on #567
I have /retest the PR and job does not appear anymore looks like it was as the same time prow was being updated.

[2020-06-26 13:46] #567 closed

[2020-06-26 13:49] qinqon opened #569 "[flaky CI] NodeNetworkConfigurationPolicy bonding default interface when there is a default interface with dynamic address should successfully move default IP address on top of the bond"
**What happened**:
The following test is failing at NOOP PR https://github.com/nmstate/kubernetes-nmstate/pull/568:
`NodeNetworkConfigurationPolicy bonding default interface when there is a default interface with dynamic address should successfully move default IP address on top of the bond `

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/568/pull-kuber

[2020-06-26 13:49] qinqon commented on #569
/kind bug
/triage build-officer

[2020-07-06 14:26] arnongilboa opened #572 "NMState operator when installed for the first time should deploy daemonset and webhook deployment"
/kind bug
/triage build-officer

**What happened**:

[Fail] NMState operator when installed for the first time [It] should deploy daemonset and webhook deployment
/tmp/knmstate/kubernetes-nmstate/test/e2e/operator/nmstate_install_test.go:40

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/571/pull-kubernetes-nmstate-e2e-operator-k8s/1280095118921043968

[2020-07-07 06:33] qinqon commented on #572
This is not flaky, there were a defect on the PR, closing.
/close

[2020-07-07 06:33] #572 closed

[2020-08-07 20:23] SudhanAruna commented on #212
Can I work on this issue

[2020-08-07 20:36] phoracek commented on #212
@SudhanAruna go for it :)

[2020-08-24 08:04] qinqon opened #589 "Add cert rotation variables to Nmstate CR"
**What happened**:
The latest kube-admission-webhook library release has some cert rotation "knobs" that we can export as Nmstae CR parameters so they can be changed before instdall.

**What you expected to happen**:
The Nmstate CR to have three new parameters to change cert rotation values.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**

[2020-09-24 22:18] souhradab opened #604 "Add ovs-bridge port vlan tagging functionality to nmstate"
**What happened**:
I am using nmstate to adjust OCP node networking state per:
https://docs.openshift.com/container-platform/4.5/virt/node_network/virt-updating-node-network-config.html

I am configuring an ovs-cni bridge for CNV (Kubevirt) VM secondary Multus network connections.  I am adding VLAN sub-interfaces to the ovs-cni bridge.  They are added as ovs system interfaces and appear to operate

[2020-10-06 12:20] qinqon opened #607 "live logs from ginkgo does not appear anymore at e2e-tests"
**What happened**:
Although Makefile specify `-ginkgo.v` the traces from ginkgo like `STEP` and friends only appear at the end.

**What you expected to happen**:
They should appear as they go so you know where is getting stuck for example.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affected node

[2020-10-15 10:27] qinqon opened #609 "Make probes parameters configurable"
**What happened**:
Right now the different tiemouts of the probes we are using to check network connectivity after apply desired state is harcoded, if would be good if we expose them somehow configmap or env vars.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affec

[2020-10-20 15:57] #316 closed

[2020-10-21 09:41] qinqon commented on #510
Implemented by https://github.com/nmstate/kubernetes-nmstate/pull/606

[2020-10-21 09:41] #510 closed

[2020-10-21 10:00] qinqon opened #615 "Apply NNCP sequencially on nodes."
**What happened**:
Today we apply desired state on all matching nodes at once. This may lead to a downtime (waiting for rollback) in case the config is invalid and all nodes are matching.

**What you expected to happen**:
Change knmstate so it applies config on one node at the time and in case it fails, it stops the rollout.

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2020-10-21 10:21] qinqon commented on #615
@rhrazdil @phoracek Let's check for corner cases of possible implementations

[2020-10-21 13:15] rhrazdil commented on #615
I like the idea of adding a `runningNode` field to the status, it seems clearer and more focused on point, since we don't need to care about the order.
And since we'll want to deal with timeout and add a to way to opt-out, we will not avoid adding fields to nncp config anyway.

[2020-10-21 15:09] qinqon commented on #615
@phoracek do you agree with the idea ?

[2020-10-21 15:19] phoracek commented on #615
Sounds good. Our own tiny leadership election that we have under control.

But what happens when a user updates a policy? Say I'm in a middle of configuration, I changed my mind and disable DHCP on the policy. What would happen then?

[2020-10-21 15:22] qinqon commented on #615
If we wait inside the `Reconcile` the update will be queued.

[2020-10-21 15:28] phoracek commented on #615
By updating of the policy, I would remove the `runningNode` attribute as well. That means that some node can start reconfiguration while the configuration on a previous one who set `runningNode` is not yet done. But maybe that's not an issue.

I'd like to see a diagram explaining this mechanism and talking about all the corner-cases such as the one I described. Based on this we would be able to wr

[2020-10-21 15:32] qinqon commented on #615
Agree, let's list them and think about this.

[2020-10-21 15:36] qinqon commented on #615
Another option is to use the webhook and discard NNCP change if is in progress, at the end is what webhooks are for.

[2020-10-21 15:45] phoracek commented on #615
But then the handler that has configuration in process will write back. And how would the webhook then see if it is getting written by the old version of NNCP or the new one.

[2020-10-22 13:57] rhrazdil commented on #615
I have created this doc where we can discuss the logic for the sequential node update.
There is also a draft of a diagram changes
https://docs.google.com/document/d/1C8RsopeQ0lTkQunbtOHzbHOuK_hsmg8vX2KudHoFv9Q

Hmm... Having two nodes running in parallel in this case is probably not the end of the world, but it's a bit weird and it could make the debugging difficult. What if we added a new resourc

[2020-10-22 15:22] phoracek commented on #615
Issue with that would be that we would introduce a single point of failure.

Would it be ok if we focused now on rollout - if a policy fails on one node, don't attempt on another. And later add sync mechanism making sure that we are tinkering with a single node at the time? I feel these two features can be untangled quite nicely.

Assuming most people configure a single NNCP anyway, locking the wh

[2020-10-23 06:53] rhrazdil commented on #615
Isn't storing this information in nncp spec the same thing?

[2020-10-23 07:34] qinqon commented on #615
Handle write back the status not the desiredState, I think we can skip status changes at webhooks, at the end the idea is to NNCP changes until they are finished.

[2020-10-23 07:34] qinqon commented on #615
There is also a draft of a diagram changes
https://docs.google.com/document/d/1C8RsopeQ0lTkQunbtOHzbHOuK_hsmg8vX2KudHoFv9Q

Maybe is time to start a github wiki with this things or even a github webpage.

[2020-10-23 07:44] phoracek commented on #615
That makes it single point of failure only for the specific NNCP. So worst case, we can recover simply by deleting it and creating a new one.

[2020-10-29 17:39] akrejcir commented on #569
Happened again on 28.10.2020
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/610/pull-kubernetes-nmstate-e2e-handler-k8s/1321402949242458113

The error message is different:
[code]

[2020-11-11 08:18] dhiller opened #628 "Job publish-kubernetes-nmstate of type postsubmit ended with state failure."
**What happened**:
 Job [publish-kubernetes-nmstate](https://github.com/kubevirt/project-infra/blob/master/github/ci/prow/files/jobs/nmstate/kubernetes-nmstate/kubernetes-nmstate-postsubmits.yaml#L3) failed:
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/publish-kubernetes-nmstate/1326166839411085312
* https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/publish-kubernetes-nmstate/13

[2020-11-11 09:32] rhrazdil opened #629 "Allow applying nncp sequentially in chunks"
/kind feature

When applying NNCP sequentially as described in https://github.com/nmstate/kubernetes-nmstate/issues/615 we should consider allowing users configure number of nodes that can apply configuration in parallel - chunks.

The API for this feature could be exposed as a single field in NNCP Spec: `chunkSize`.

When `chunkSize` set to 0, the NNCP would be applied in parallel.
When `chunkSiz

[2020-11-11 14:26] qinqon commented on #628
The publish job has to ignore `gh-pages` this is a special branch to dump jekyll output and have a documentation as a github page.

[code]

[2020-11-11 14:33] #628 closed

[2020-11-11 15:15] etcshad0vv opened #631 "Linux bridge ports are not reflecting the desired state for vlan IDs"
**What happened**:

Create a Linux vlan-aware(vlan_filtering 1) bridge, and then create either a trunk or access port.

**What you expected to happen**:

Bridge ports to reflect the desired vlan ids or range in `bridge -c vlan show dev ` output

**How to reproduce it (as minimally and precisely as possible)**:
Apply below desiredState using NNCP:
[code]

**Anything else we need to know?**:

- Usin

[2020-11-11 15:35] qinqon commented on #631
Hi, vlan filtering is not supported at kubernetes-nmstate yet, we just do a best effort [1] to allow too add veths with vlan filtering.

[1] https://github.com/nmstate/kubernetes-nmstate/blob/master/build/bin/vlan-filtering

[2020-11-11 16:05] etcshad0vv commented on #631
@qinqon thanks for your prompt response.
To understand this, you mean that it doesn't work properly when nmstate is used to enslave ports however it works when ports are created by net-attach-def using multus multi-net plugin?

[2020-11-11 16:15] qinqon commented on #631
The nmstate is fine issue is at kubernetes-nmstate since we try to do vlan filtering on the whole range so whatever is configured with net-attach-def + bridge CNI will work fine.

[2020-11-11 17:00] etcshad0vv commented on #631
aha i see, i saw that `vlan-filtering` script invoked on the golang source, so if nmstate can handle state properly with respective vlan ids defined in the desiredState, i wonder why you still use the `vlan-filtering` binary which pretty much is messing the right state applied by nmstatectl.
If i would use net-attach-def and bridge-cni, is there some way to define a local interface(e.g eth0) to ac

[2020-11-13 09:32] etcshad0vv opened #634 "Validation on bridge-ports type definition to prevent switching loop"
**What happened**:

We have identified that on vlan-aware bridge(vlan filtering 1) when we enslaved multiple vlan interfaces to act as trunk/access ports, and based on the fact that default pvid is set 1 for untagged frames on bridge, in case type set on NodeNetworkConfigurationPolicy  for bridge-ports is `trunk` it will create loop when using multiple vlan interfaces as access/trunk ports, so i g

[2020-11-13 10:18] qinqon commented on #634
Hi, kubernetes-nmstate delegates the validation on nmstate, so this has to be implemented on nmstate, you can contact them here and ask about it, https://github.com/nmstate/nmstate#contact.

Also note that the nmstate version from kubernetes-nmsate is 0.2.z so maybe they have fixed it at 0.3.z or 0.4.z.

[2020-11-13 10:39] qinqon commented on #569
another run
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/632/pull-kubernetes-nmstate-e2e-handler-k8s/1326895012364947456

[2020-11-13 10:54] etcshad0vv commented on #634
Thanks @qinqon will close this one then.

[2020-11-13 11:22] phoracek commented on #634
@etcshad0vv if you open an RFE for nmstate, would you please link it here too? I'd be interested in tracking the progress of it. Thanks o/

[2020-11-13 14:13] etcshad0vv commented on #634
Sure thing Petr, https://github.com/nmstate/nmstate/issues/1413

[2020-11-13 14:23] etcshad0vv commented on #634
#https://github.com/nmstate/nmstate/issues/1413

[2020-11-16 09:37] alonSadan opened #637 "[Flake-CI] Job publish-kubernetes-nmstate of type postsubmit ended with state failure"
**What happened**:
Build failed after ~6 minutes.
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/logs/publish-kubernetes-nmstate/1328235972407595008
**What you expected to happen**:
To Build and run tests.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affected nodes (use `kubectl get nodenetwork

[2020-11-16 09:39] phoracek commented on #637
/cc @qinqon

[2020-11-16 19:51] souhradab commented on #604
Came across this, need to test it out, this is from nmstate project itself:  https://github.com/nmstate/nmstate/blob/base/examples/ovsbridge_vlan_port.yml

[2020-11-25 11:22] #637 closed

[2020-11-26 14:49] qinqon opened #644 "Intermitent Status at NNCP sequencial rollout"
**What happened**:
When a NNCP is apply without `parallel` or with `parallel: false` field the Status is intermitent.

**What you expected to happen**:
Steady NNCP Status

**How to reproduce it (as minimally and precisely as possible)**:
Apply a NNCP without parallel fields at multi node cluster.

**Anything else we need to know?**:
This is caused probably by the Reset done at every Reconcile cycl

[2020-11-27 15:25] phoracek commented on #631
Our intention was to configure all Linux bridges in a way that they treat their `port` as a trunk. Users then can simply create a net-attach-def with a VLAN set, connect to the bridge and enjoy the traffic passed up and down. Back at the time `vlan-filtering` was not yet available in nmstate.

Now when `vlan-filtering` is available in nmstate, we'd like to migrate to it and allow config such as th

[2020-11-27 15:28] phoracek commented on #604
@souhradab have you got a chance to test it? I believe it should work fine, the question is whether the nmstate API covers all your needs there.

[2020-12-02 06:39] qinqon commented on #569
Now that we have the pod logs back we can see that the api-server probe is failing, that's why we don't see status at enactments since api-server cannot be reached enactments cannot be saved.

https://storage.googleapis.com/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/651/pull-kubernetes-nmstate-e2e-handler-k8s/1333811072104140800/artifacts/NodeNetworkConfigurationPolicy%20bonding%20defau

[2020-12-02 06:45] qinqon commented on #569
Maybe we can resolve it by having two masters so api-server get moved from one to the other by kubernetes, I don't if this can happend at kubevirtci.

[2020-12-07 14:46] #206 closed

[2020-12-18 12:01] dhiller commented on #569
Happened again:

https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/662/pull-kubernetes-nmstate-e2e-handler-k8s-future/1338879183568244736
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/662/pull-kubernetes-nmstate-e2e-handler-k8s/1338879183559856128

[2020-12-18 12:04] dhiller opened #665 "[flaky ci] NodeNetworkConfigurationPolicy upgrade when v1alpha1 is populated should be stored as v1beta1 and end with available state"
**What happened**:

/triage build-watcher
/kind bug

Test `NodeNetworkConfigurationPolicy upgrade when v1alpha1 is populated should be stored as v1beta1 and end with available state` flaked at PR https://github.com/nmstate/kubernetes-nmstate/pull/662

Run: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/662/pull-kubernetes-nmstate-e2e-handler-k8s/13388467

[2020-12-18 12:09] dhiller opened #666 "[flaky ci] timeout failures at lane pull-kubernetes-nmstate-e2e-handler-k8s-future"
**What happened**:

/triage build-watcher
/kind bug

Tests timed out at run https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/662/pull-kubernetes-nmstate-e2e-handler-k8s-future/1338879183568244736

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `No

[2020-12-18 12:13] dhiller opened #667 "[flaky ci] [rfe_id:3503][crit:medium][vendor:cnv-qe@redhat.com][level:component]NodeSelector when policy is set with node selector not matching any nodes and we remove the node selector should update all nodes and have Matching enactment state"
**What happened**:

/kind bug
/triage build-watcher

Test `[rfe_id:3503][crit:medium][vendor:cnv-qe@redhat.com][level:component]NodeSelector when policy is set with node selector not matching any nodes and we remove the node selector should update all nodes and have Matching enactment state` flaked during run https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstat

[2020-12-21 12:56] #665 closed

[2020-12-21 14:14] qinqon commented on #569
Closed by #569

[2020-12-21 14:14] #569 closed

[2020-12-22 08:41] qinqon opened #670 "[flaky CI] [nns] NNS LastSuccessfulUpdateTime when network configuration hasn't change should not be updated"
**What happened**:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/661/pull-kubernetes-nmstate-e2e-handler-k8s/1341025954180370432

[code]

/kind bug
/triage build-watcher

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affe

[2020-12-22 08:42] qinqon commented on #670
/kind bug
/triage build-watcher

[2020-12-22 09:13] alonSadan commented on #569
/reopen
happened  again:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/669/pull-kubernetes-nmstate-e2e-handler-k8s-future/1340990724841148416

[2020-12-22 09:27] alonSadan opened #671 "[future lane][flaky-ci]NodeNetworkState when desiredState is configured with a active-backup miimon 100 bond interface up should have the bond interface at currentState"
**What happened**:
/triage build-watcher
/kind bug

Test NodeNetworkState when desiredState is configured with a active-backup miimon 100 bond interface up should have the bond interface at currentState flaked at PRs:

#668
#669

failed runs:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/669/pull-kubernetes-nmstate-e2e-handler-k8s-future/134099072484114

[2020-12-22 09:32] alonSadan opened #672 "[future lane][flaky-ci]NodeNetworkState when desiredState is configured with bond interface that has 2 eths as slaves and vlan tag on the bond should have the bond interface with 2 slaves at currentState"
**What happened**:
/triage build-watcher
/kind bug

Test NodeNetworkState when desiredState is configured with bond interface that has 2 eths as slaves and vlan tag on the bond should have the bond interface with 2 slaves at currentState flaked at PRs:

#668
#669

failed runs:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/669/pull-kubernetes-nmstate-e2e

[2020-12-22 09:56] alonSadan opened #674 "[future lane][falky-ci] NodeNetworkState when desiredState is configured with bond interface that has 2 eths as slaves should have the bond interface with 2 slaves at currentState"
**What happened**:
/triage build-watcher
/kind bug

Test NodeNetworkState when desiredState is configured with bond interface that has 2 eths as slaves should have the bond interface with 2 slaves at currentState flaked at PRs:

#668
#669

failed runs:
https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/669/pull-kubernetes-nmstate-e2e-handler-k8s-future/13409

[2021-01-12 10:51] #666 closed

[2021-01-12 10:51] #671 closed

[2021-01-12 10:51] #672 closed

[2021-01-12 10:51] #674 closed

[2021-01-22 10:12] qinqon opened #684 "Node controller predicate does not filter at watcher"
**What happened**:
At big clusters every handler is retrieving all the nodes and that hits hard the kube-apiserver nodes.
**What you expected to happen**:
controller-runtime filtering using predicates so it retrieves only the ones filetered.

**How to reproduce it (as minimally and precisely as possible)**:
Counting the number of Node Get operations at running kubernetes-nmstate.

**Anything else

[2021-02-04 05:43] nelsonspbr commented on #670
Again: https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/692/pull-kubernetes-nmstate-e2e-handler-k8s-future/1356945962311880705

[2021-02-08 09:59] qinqon commented on #670
The diff on states
https://github.com/nmstate/kubernetes-nmstate/pull/688

[2021-02-09 10:04] mel1nn opened #695 "vxlan.remote: property is missing"
**What happened**:
After applying a NodeNetworkConfigurationPolicy, an error occurs:
`libnmstate.error.NmstateLibnmError: Add profile: flannel.1 failed with error: nm-connection-error-quark: vxlan.remote: property is missing`. The flannel interface of type vxlan has not a remote value by default, is it required for nmstate to work?

The related NodeNetworkConfigurationEnactment:
[code]

[2021-02-09 11:22] qinqon commented on #695
What NetworkManager version do you have at the nodes ?

[2021-02-09 13:04] mel1nn commented on #695
1.22.10

[2021-02-09 16:27] qinqon commented on #695
What os are you running at nodes ?

[2021-02-09 16:34] mel1nn commented on #695
Ubuntu 20.04 !

[2021-02-09 16:46] phoracek commented on #695
Quique please keep me honest here, but this seems to be a bug of underlying nmstate component. Seems that it is unable to handle the configuration when VXLAN interfaces are present on the host. Would you please open an issue on https://github.com/nmstate/nmstate? kubernetes-nmstate is just a way to deploy nmstate on Kubernetes.

[2021-02-09 16:51] qinqon commented on #695
@phoracek yep, just gathering some info for them here.

[2021-02-09 16:52] qinqon commented on #695
Well I have an answer from NetworkManager team it was mandatory until ` 676fe327d4c1fe0d11dae41b39e232ea64f4e1ea (1.29.1)`

@mel1nn can you bump network manager to > 1.29.1 ?

[2021-02-09 20:09] xpivarc commented on #670
Again https://prow.apps.ovirt.org/view/gcs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/688/pull-kubernetes-nmstate-e2e-handler-k8s/1358701024306532352

[2021-02-10 09:28] phoracek commented on #695
Mandatory to define when you are configuring a VXLAN. That is not the case here. IIUIC the problem we see here is that nmstate again fails because of it cannot parse the state unrelated to the configuration we are trying to setup.

[2021-02-10 11:46] qinqon commented on #695
@phoracek right, I supose the `eno4` has nothing to do with flannel isn't it @mel1nn

[2021-02-10 15:30] mel1nn commented on #695
yes, that's right

[2021-02-10 15:38] phoracek commented on #695
@mel1nn please open an issue directly on nmstate/nmstate then. I'm afraid there is nothing we could fix here - we need to fix the root cause.

[2021-03-09 23:25] MarkSpencerTan opened #714 "Current Gateway Getting Reconfigured by NetworkManager"
**What happened**:

Whenever we're applying NNCP configuration, whether setting them to "up" or "absent" for linux-bridge interfaces, for some reason we notice that our main interface & Default Gateway (team0) is getting reconfigured by NetworkManager. I was wondering if nmstate is doing something strange here and why it's doing that.

When tailing /var/log/messages on the node we see this error:

[2021-03-10 09:57] qinqon commented on #714
Can you test on kubernets-nmstate v0.37.0 it's using nmstate 0.3.z while v0.34.0 is using nmstate 0.2.z

[2021-03-10 12:55] #670 closed

[2021-03-12 02:41] MarkSpencerTan commented on #714
Thanks @qinqon , does this new version depend on a new version of NetworkManager/libnm? I tried updating to this version on our dev cluster but it throws an error everytime an NNCP is applied complaining about a version mismatch between NetworkManager and linnm

[2021-03-12 06:52] qinqon commented on #714
@MarkSpencerTan it needs NetworkManager 1.26 https://github.com/nmstate/kubernetes-nmstate/blob/master/Makefile#L8

[2021-04-15 09:57] nabbas-ca opened #725 "RFE: Configure static IPs on a pool of nodes with a single Policy"
**What happened**:
When trying to set a static ip to an extra interface (in my case, non-routable ip, for internal network), i had to create a different policy for every node. Basically, using a node selector for each node, and have a policy per IP to be assigned. This translates to multiple nncp objects (order of x), and so many nnce objects (order of x^2). All of this while having exactly the sa

[2021-04-15 14:21] phoracek commented on #725
Hello. This is indeed a valid use-case we've been looking into for a while. The API should be ready for this, this is one of the reasons we have `desiredState` in each individual NodeNetworkConfigurationEnactment - anticipating they will differ.

That being said, with exception of some API drafts, there was not work done on this front yet. Despite we anticipate this as a real use-case there were n

[2021-04-18 06:03] nabbas-ca commented on #725
thanks @phoracek . In the meantime, do you foresee scalability issues with this? if there are 500 or 1000 nnce objects on a cluster?

[2021-04-18 06:54] nabbas-ca opened #727 "Failed to modify existing bridge with different ports. remove a port and add a new one"
**What happened**: I'm trying to update the network configuration of IPI install of openshift on baremetal. I have 2 ports, that I would like to bond, however, at installation time I can only configure provisioning network on one and baremetal network on the other, according to this doc https://openshift-kni.github.io/baremetal-deploy/4.6/Deployment.html .

I created a policy, where i add a bond i

[2021-04-20 20:59] bcrochet opened #729 "Handler lockfile mechanism does not work"
**What happened**:
Installed handler via CNAO, then installed via operator as well. Both sets of handlers appears to think they had the lock.

**What you expected to happen**:
Only the first handlers should have controlled the lock.

**How to reproduce it (as minimally and precisely as possible)**:
Install handler via CNAO, then install via operator.

**Anything else we need to know?**:
NAMESPACE

[2021-04-20 21:02] bcrochet commented on #729
Might need to switch to using something like https://github.com/werf/lockgate

[2021-04-21 09:19] qinqon commented on #729
I will create a PR installing with different namespace so we can exercise the locks

[2021-04-22 14:00] phoracek commented on #725
It may be. I don't know about this specific case, but we have seen scalability issues dependent on number of Nodes in the cluster. We are currently working on addressing that through https://github.com/kubernetes-sigs/controller-runtime/pull/1435. There is only one way to find out I'm afraid.

[2021-04-22 17:54] vishnoisuresh commented on #725
I think I am in the kind of similar boat, need to assign an non-routable IP to each node.  As it mentioned already, `nnce` are in huge number.

[2021-04-23 00:35] MarkSpencerTan commented on #714
@qinqon I've tested on the current latest version of Kubernetes nmstate as well as version 1.31.0 of NetworkManager on the nodes and this issue is still happening.

We've also started moving our infrastructure to AWS and we're currently using an EKS cluster now and we were able to reproduce the same scenario in this cluster as well. Seems like kubernetes-nmstate doesn't play around very well with

[2021-04-26 16:52] phoracek commented on #725
Templating may be quite difficult to implement. On the other hand, we can partially relieve you issue by changing the NNCE logic, so it gets created only per a matching node. I'm not sure if its doable, since lot of our logic is based around it being available, but it would be worth a research.

[2021-04-27 06:45] #729 closed

[2021-04-27 11:34] vishnoisuresh commented on #725
@phoracek  Yea I think, It  would be also convenient, as it will remove visual noise of unnecessary NNCE resources.

[2021-04-27 12:53] nabbas-ca commented on #725
@phoracek , another idea is to have a have an ip pool object, where the policy will assign ips from that pool there. fails if there are no more ips. Something along these lines will make it work for us, as we don't really care about which ips, as long they come from a pool.

Another idea, make the ip address like a formula/function. 169.0.0.x+10 or something like that.

[2021-04-29 12:03] qinqon commented on #727
Looks like there is an issue at the NNCP yaml
[code]

[2021-04-29 12:14] qinqon commented on #727
Also openshift is the "owner" of "br-ext" admins should not touch it, if something need to be done with that it has to be done at "day 1" using ignition or the like.

[2021-04-29 12:16] qinqon commented on #725
I am going to prepare a PR for that.

[2021-04-29 12:26] phoracek commented on #725
@nabbas-ca I would be against turning knmstate into a cluster IP management tool. The scope of the project is to provide a simple Kubernetes-native way to configure networking on cluster nodes. This configuration is "static" and nodes are not depending on each other. Introducing a non-naive IPAM support would go way beyond this.

Once @qinqon gets rid of those idle NNCEs, hopefully the resource co

[2021-04-29 15:01] nabbas-ca commented on #725
@phoracek , I understand your concerns. But from my perspective, all these NNCP objects are identical , except for the ip. At least make this ip specification somehow extendable, so that I don't have that many policies, basically with the exact same configuration. Editing those will be painful as well.

Just trying to give the users perspective here. It is a valid use case to try to use static ips

[2021-04-30 13:49] phoracek commented on #725
As commented above, having templating support is certainly something we'd like to have. Would you be open to file an RFE describing user cases for this to outline the requirements? Note that making it should be generic enough, so we don't need to manage any specific attribute, like IP.

Would templating make it easier to handle? I'm not convinced that kubernetes-nmstate should support cluster-wide

[2021-04-30 15:17] nabbas-ca commented on #725
@phoracek , what do you exactly mean by templating support? I'm open to filing an RFE, but i can only think for my use case, not sure how to make it generic.

I'm open to writing an operator for this. This looks like a good idea.

[2021-04-30 15:31] phoracek commented on #725
Wonderful! I would be interested to hear how that goes. And of course, if you'd have issues using the API or any other questions, don't hesitate to reach out.

[2021-05-03 08:43] phoracek commented on #725
The only example of the API usage I know of are our e2e tests, you may want to start there. It uses controller-runtime client and should be pretty straightforward.

For RFE, let's start with a GitHub issue, describe user stories connected to the feature, what you want to accomplish, what are the non-goals, what are risks of this, offer draft of the API (optional), describe how it will affect compa

[2021-05-05 05:50] qinqon commented on #714
kuberbetes-nmstate is suppose to run the probes that were working before network reconfiguration, so if ping gw or resolv DNS probes does not work they will not be executed after reconfiguration.

[2021-05-05 07:58] phoracek commented on #714
@MarkSpencerTan sorry for your trouble. In order to debug this effectively, we will need following:

- Logs of the nmstate-handler of the affected node
- `oc get nns <affected host> -o yaml` before you run the configuration
- `ip address` on the host before you run the config
- `ip route` on the host before you run the config
- `nmcli` on the host before you run the config
- `oc get nnce <enactmen

[2021-05-06 17:00] phoracek opened #743 "Update documentation to reflect that NodeSelectorNotMatching was removed"
**What happened**:

We are not keeping NNCP per unmatched node again, however, documentation still refers to that.

**What you expected to happen**:

Adjust our docs.

[2021-05-06 17:00] phoracek commented on #743
CC @qinqon

[2021-05-11 01:19] MarkSpencerTan commented on #714
Thank you @qinqon  and @phoracek for the assist! here are some logs from our cluster below:

I updated the specs of our Node to make sure we're working with more up to date components
Node OS: Ubuntu 20.04.2
NetworkManager Version: 1.22.10
Kubernetes-NMState Version: v0.45.0
Kubernetes: v1.18.9

- Logs of the nmstate-handler of the affected node
- https://gist.github.com/MarkSpencerTan/39b7998a449

[2021-05-11 21:18] MarkSpencerTan commented on #714
@rhrazdil thank you for the suggestions!

I followed the extra step here for ubuntu nodes: https://github.com/nmstate/kubernetes-nmstate/blob/master/CONTRIBUTING.md#FAQ and I believe that fixed the nmcli output showing unmanaged for all... now I see a couple that connected successfully:
https://gist.github.com/MarkSpencerTan/a50b45a9fe5e14010974ec6cab42d3a0
Does that look better?

Thanks for remin

[2021-05-12 00:51] MarkSpencerTan commented on #714
hmm I think it might be actually how I'm installing the new NetworkManager on top of the one already existing in the OS... I was just building it from the source from git and then moving the built NetworkManager binary over to the /usr/local/sbin directory. I think there were some steps that I might have missed for installing NetworkManager from source since from the NetworkManager's service logs

[2021-05-12 09:39] rhrazdil commented on #714
Does that look better?

Good. Yes, this is more of an expected output.

I have to admit I'm getting a bit out of my comfort zone when it comes to building NetworkManager from source on Ubuntu.
If I'm looking correctly though, there seems to be 1.26.2 package available in ubuntu groovy repository:
https://packages.ubuntu.com/source/groovy/network-manager
Maybe that would be good enough?

https://gi

[2021-05-20 10:51] qinqon opened #753 "node selector labels cannot be more than 63 characters"
**What happened**:
When an NNCP is populated with nodeSelector labels bigger or equal to 63 characters the NNCE's dos not get created and NNCP not applied.

**What you expected to happen**:
Webhook validating the NNCP node selector or at least NNCP conditions showing the error.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

[2021-05-20 10:54] phoracek commented on #753
Failing early is definitely and improvement. However, it does not solve the root of this issue. If somebody uses very long node names, it would be impossible to use knmstate. Should we revisit the naming of NNCE and use a prefix taken from NNCP and complete it with a random suffix (similar to pods that are a part of a deployment)? To keep the NNCE list nice, we can keep NNCE and Node names as meta

[2021-05-20 13:17] phoracek commented on #753
Oh my bad, never mind.

[2021-05-21 19:55] dankenigsberg commented on #753
What does other resources do in case they have a `nodeSelector` field? I personally dislike validations - it forces knmstate to know what is the limitation of the current k8s version. It's a violation of layering. I would rather see a status message explaining as much as we can guess why the operation does not progress.

[2021-05-25 23:50] #753 closed

[2021-05-26 07:29] qinqon commented on #753
Well we are using the k8s golang lib for the validation os kubernetes-nmstate is not copy-pasting the validations done at k8s, also doing failfast is better IMHO.

[2021-05-26 08:07] dankenigsberg commented on #753
Even if you vendor k8s's validation, it would break the layering. If next k8s version changes the max to 64 chars, knmstate would become over-restrictive until you re-vendor and re-compile it.

Do other higher-level resources do this validation? There are uncountable modes of failure, we can never block them all precisely; I think we should invest in exposing the reason of failure to the end user

[2021-05-26 08:36] qinqon commented on #753
but thinking about it, since webhook are optional at kubernetes-nmstate we should do better showing the error at NNCP Status.

[2021-05-27 06:00] #743 closed

[2021-05-27 06:01] #667 closed

[2021-05-27 06:01] #615 closed

[2021-05-27 06:01] #629 closed

[2021-05-27 06:02] #219 closed

[2021-05-27 06:05] qinqon opened #758 "Documentation not being updated after merge."
**What happened**:
Looks like rendered documentation is not in sync with repository http://nmstate.io/kubernetes-nmstate/user-guide/101-reporting.html, we no longer has the config map and the doc is changed to reflect that.

For one of the failing publish jobs https://storage.googleapis.com/kubevirt-prow/logs/publish-kubernetes-nmstate/1397609681056174080/build-log.txt

The publish job is using th

[2021-05-27 08:52] #758 closed

[2021-06-07 13:03] qinqon opened #767 "Add NetworkManager and nmstate version to NodeNetworkState Status"
**What happened**:
Sometimes is good to know what nmstate and NetworkManager versions kubernetes-nmstate is dealing with

**What you expected to happen**:
The NetworkManager an nmstate versions to appear under NodeNetworkState Status

* host NetworkManager version
* container libnm
* container nmstate

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kn

[2021-07-08 14:12] oshoval opened #782 "Missing nnce where running create delete flow"
Create 2 bridges (each for different secondary interface) using 2 nncps
wait for it to finish according nnce
delete the nncp
create 2 nncps that "absent" the bridges

**What happened**:
Wait for the bridges to be gone
watch all the way the nnce and see that just the 2nd one appear, the first one
isn't created even after the bridge actually gone from the node.
(the 2nd one appears in delay because

[2021-07-09 10:43] rhrazdil opened #785 "NNCPs that break node connectivity cause reconcile to fail update status"
**What happened**:
NNCE is in Failing state, but status of NNCP has not been updated.

**What you expected to happen**:
Policy should end up in Degraded state

**How to reproduce it (as minimally and precisely as possible)**:
Create a NNCP that breaks network connectivity by setting wrong IP address to eth0
[code]
**Anything else we need to know?**:
The reason for this is apparently that it takes

[2021-07-09 11:20] rhrazdil commented on #785
/assign

[2021-07-09 11:38] rhrazdil commented on #782
Hey @oshoval, could you provide manifests for the bridges?
When using
[code]
and subsequently
[code]

All NNCEs are Available
[code]

[2021-07-11 06:17] oshoval commented on #782
and br2 / eth2 for the 2nd of course
[code]

[2021-07-12 14:16] #785 closed

[2021-07-14 10:03] phoracek commented on #782
Scrub: Quique notes we may need to use CNAO version to reproduce this

[2021-07-14 10:06] phoracek commented on #727
@nabbas-ca did the comment above help you?

[2021-07-14 10:07] phoracek commented on #725
@nabbas-ca did you get a chance to look into this at all?

[2021-07-14 10:10] phoracek commented on #714
Closing for the lack of info. Feel free to re-open.

[2021-07-14 10:10] #714 closed

[2021-07-14 10:11] #695 closed

[2021-07-14 10:11] phoracek commented on #684
It does filter it there now!

[2021-07-14 10:11] #684 closed

[2021-07-14 10:12] phoracek commented on #644
Scrub: This is partially fixed now via https://github.com/nmstate/kubernetes-nmstate/pull/648 but there are still some loose ends.

[2021-07-14 10:14] phoracek commented on #634
On top of the nmstate issue, we are yet to add a support for vlan-filtering to kubernetes-nmstate. We plan to start working on it in the near future.

[2021-07-14 10:15] phoracek commented on #631
Closing in favor of https://github.com/nmstate/kubernetes-nmstate/issues/634

[2021-07-14 10:15] #631 closed

[2021-07-14 10:18] phoracek commented on #607
Scrub: We believe this was fixed

[2021-07-14 10:18] #607 closed

[2021-07-14 10:20] phoracek commented on #604
Closing this for not enough info. In case you get to test this again with the latest release and it's still broken, feel free to reopen.

[2021-07-14 10:20] #604 closed

[2021-07-14 10:23] qinqon commented on #589
Since CNAO has cert rotation parameters at NetworkAddonsConfig and in the near future CNAO will install kubenretes-nmstate usin gthe NMState CR we have to include those parameters to the this CRD.

[2021-07-14 10:25] qinqon commented on #516
Closing this works now, feel free to open if it breaks again.

[2021-07-14 10:25] #516 closed

[2021-07-14 10:31] qinqon commented on #494
Fixed

[2021-07-14 10:31] #494 closed

[2021-07-14 10:39] qinqon commented on #486
kubectl delete has a "--cascade=foreground." that can be used for this, we can close this.

https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/#setting-the-cascading-deletion-policy

[2021-07-14 10:39] #486 closed

[2021-07-14 10:40] #468 closed

[2021-07-14 10:41] qinqon commented on #416
Fixed with https://github.com/nmstate/nmstate/pull/828

[2021-07-14 10:41] #416 closed

[2021-07-14 10:42] qinqon commented on #384
we do

[2021-07-14 10:42] #384 closed

[2021-07-14 10:45] qinqon commented on #355
We have to implement this use case with [copy-mac-from](https://github.com/nmstate/nmstate/blob/2599d3afa48a507d6631ce6924e3c3564dd81630/libnmstate/schema.py#L34)

[2021-07-14 10:46] qinqon commented on #281
We already check that stuff is correclty generted at prow unit test job.

[2021-07-14 10:46] #281 closed

[2021-07-14 10:47] qinqon commented on #270
We are already doing that

[2021-07-14 10:47] #270 closed

[2021-07-14 10:52] qinqon commented on #208
We have to verify if this is still an issue after operator-sdk bump

[2021-07-14 10:54] qinqon commented on #192
it's working now for 2 years is enough for monitoring :-)

[2021-07-14 10:57] qinqon commented on #175
Tested and working all good, nothing to see here.

[2021-07-14 10:57] #175 closed

[2021-07-14 10:57] qinqon commented on #171
We plan on implementing nmstate vlan-filtering level.

[2021-07-14 10:59] qinqon commented on #139
We implemented Status at NNS

[2021-07-14 10:59] #139 closed

[2021-07-14 10:59] qinqon commented on #113
Everything is install by the operator now, maybe we can do this with the operator's manifests

[2021-07-14 11:00] qinqon commented on #76
nmstate schema has being removed they validate that with the code, we are not going to dup validations.

[2021-07-14 11:00] #76 closed

[2021-07-23 11:13] hubwoop opened #789 "Custom tolerations for the nmstate-handler DaemonSet"
**What happened**: The Pods of the nmstate-handler DaemonSet are not rolled-out on every node on my cluster, because we have set up taints on some nodes.

**What you expected to happen**: I would like to be able to define custom tolerations for the nmstate-handler Daemon-Set

**How to reproduce it (as minimally and precisely as possible)**:
1. Taint a node
2. Deploy kubernetes-nmstate
3. Watch as

[2021-07-28 08:52] phoracek commented on #789
Hello @hubwoop, thanks for reporting this.

I think this should not be too difficult to adjust. We would need to extend the API https://github.com/nmstate/kubernetes-nmstate/blob/main/api/v1beta1/nmstate_types.go#L25 and then extend this section based on it https://github.com/nmstate/kubernetes-nmstate/blob/main/controllers/nmstate_controller.go#L178.

I can't make a commitment on when this would

[2021-08-02 06:00] brutus333 commented on #789
Hello! I'd like to take this one, it seems to be quite easy.

The only question I have is related to schema versioning: should I keep the change on v1beta1 schema or should I introduce a new version for it (it shouldn't be a required step but it's better to ask)?

[2021-08-02 07:28] phoracek commented on #789
Awesome!

Since this new field does not break backwards compatibility, we can (and should) reuse the same version.

Let me know if you'd need assistance with anything.

[2021-08-02 11:16] brutus333 commented on #789
It seems it was already solved via: https://github.com/nmstate/kubernetes-nmstate/pull/755 (but not released yet: https://github.com/nmstate/kubernetes-nmstate/blob/release-0.47/controllers/nmstate_controller.go#L175).
How do you advise to proceed further with this issue?

[2021-08-02 11:20] phoracek commented on #789
Correct me if I'm wrong, but I believe the linked PR changed the default toleration, while the request of this RFE is to make it configurable - so we should make it possible to override the default by setting a new attribute in NMState object.

[2021-08-02 11:29] brutus333 opened #790 "Custom nodeSelector and tolerations for webhook and cert-manager"
**What happened**:
I tried to run nmstate into a kubernetes cluster deployed with Rancher.
Since the operator is using default kubernetes master labels and taints the cert-manager and webhook are not starting on a Rancher k8s cluster (they used different labels and taints).

**What you expected to happen**:

It has to be a way to configure nodeSelector and tolerations for cert-manager and webhook

[2021-08-02 11:36] brutus333 commented on #789
Yes, you're right with one small difference I believe: the linked PR changed the default toleration to allow any taint while the issue was reported for a code version which did not let daemonset pods running on nodes with custom taints.
Of course we can implement custom tolerations but in this case we need to agree to change the behavior when custom tolerations are provided: instead of putting the

[2021-08-02 14:32] phoracek commented on #789
Oh, understood. Good catch!

@hubwoop your specific issue will be likely resolved in the next release as long as it brings one of the newer builds.

@brutus333 would following make sense? "By default, nmstate will be deployed on all nodes. This behavior can be changed through nodeSelector/toleration ... attributes on the NMState CR"

[2021-08-02 14:33] phoracek commented on #789
@qinqon @rhrazdil FYI ^^

[2021-08-02 14:39] phoracek commented on #790
As discussed in https://github.com/nmstate/kubernetes-nmstate/issues/789, having tolerations exposed through the operator CR would be most welcome.

[2021-08-02 14:50] brutus333 commented on #789
Yes, it would make sense.

[2021-08-02 14:52] brutus333 commented on #790
I am able to implement it after #789. We have to discuss a bit how to name the parameters to differentiate from the ones assigned to handler daemonset.

[2021-08-04 06:56] brutus333 commented on #790
@phoracek : I pushed the code for #789.

Please let me know if we can use the following names for struct fields in nmstate type:
`infraNodeSelector` and `infraTolerations`.

[2021-08-05 10:52] #789 closed

[2021-08-06 13:43] rhrazdil opened #801 "NNCP Status may be inconsitent after reconcile"
NNCP policy is updated multiple times at Reconcile:
  - https://github.com/nmstate/kubernetes-nmstate/blob/main/controllers/nodenetworkconfigurationpolicy_controller.go#L143
  - https://github.com/nmstate/kubernetes-nmstate/blob/main/controllers/nodenetworkconfigurationpolicy_controller.go#L187

and since we're not handling error of the Status subresource update, if an error occurres, the Status m

[2021-08-10 08:58] brutus333 commented on #767
@phoracek : I believe I can take this one. Would you be so nice and assign it to me?

[2021-08-10 10:03] phoracek commented on #171
/assign @rhrazdil

[2021-08-10 10:04] phoracek commented on #767
Hello @brutus333. Thanks for the volunteering spirit. This has been already taken by @tompsota, but I forgot to make this assigned, that's totally my bad, sorry about it. Would you see if one of the other open Issues look interesting to you? If none seems fitting, I'd try to try to figure out something new.

/assign @tompsota

[2021-08-10 10:07] phoracek commented on #767
/assign @tompsota

[2021-08-10 10:09] brutus333 commented on #767
@phoracek : No problem, I'll look after something else.

[2021-08-12 12:00] brutus333 commented on #725
@phoracek : what did you exactly mean when you mentioned templating?
I might think of using node annotations to store static IPs and allow some go templating in the nncp interfaces map.
But I am not sure if it's the same with your idea of templating...

[2021-08-12 12:03] phoracek commented on #725
@brutus333 that is awesome to hear as taking data from annotations was something we were planning to. The "templating" mechanism should allow us to reference data from state/annotations and to automatically move IPs between interfaces too. We are in an early phase of designing this feature, so there are still multiple options being considered.

cc @EdDev @AlonaKaplan

[2021-08-16 09:39] soessa opened #805 "OVS not running on debian/ubuntu"
**What happened**:
I have installed nmstate in my kubernetes cluster after compiling and building Network Manager on my node. With nmcli, I can deploy OVS-bridges without an issue but when I try to create nncp, nmstate returns the error "openvswitch is not running" while ovs actually is on my node.

**What you expected to happen**:
Creation of the nncp/nnce and deployment of my ovs bridges and por

[2021-08-17 11:35] phoracek commented on #805
Hello @soessa. This seems to be a problem in the underlying nmstate tool. Would you mind opening an Issue directly on https://github.com/nmstate/nmstate/? I believe it will have to be solved there.

[2021-08-19 09:35] phoracek commented on #589
I believe you are right @brutus333. I'm not aware of anybody looking into this now, assigning. Thanks!

/assign @brutus333

[2021-08-19 09:36] phoracek commented on #589
For the API, would following schema look good to you?

[code]

[2021-08-19 13:10] phoracek commented on #790
The discussion continued in https://github.com/nmstate/kubernetes-nmstate/pull/802

[2021-08-19 13:51] brutus333 commented on #589
Yes, it is looking fine. I'll take care of it after #802.

[2021-08-24 15:52] mel1nn commented on #805
Hi, this problem has been solved in the 1.1.0 version of nmstate. I suppose that a new kubernetes-nmstate-handler image should be built with this latest version, am I right ?
Thanks

[2021-08-25 14:12] #171 closed

[2021-08-25 15:24] phoracek commented on #805
@mel1nn was nmstate 1.1.0 released? The latest version I found on Copr was 1.0: https://copr.fedorainfracloud.org/coprs/nmstate/nmstate/packages/. Once a new release is tagged, I believe we can start consuming it. Our CI is continuously testing with their latest builds.

[2021-09-07 12:21] qinqon opened #822 "Add docs on using NMState CR knobs."
**What happened**:
There are some knobs like affinity and node toleration that need to be documented at NMState CR.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affected nodes (use `kubectl get nodenetworkstate <node_name> -o yaml`):
- Problematic `NodeNetworkConf

[2021-09-07 12:23] rhrazdil commented on #822
/assign @rhrazdil

[2021-09-07 13:54] #790 closed

[2021-09-10 03:45] sfxworks opened #828 "ARM support"
**What happened**:
Deployed NMState using Cluster Network Addons operator
nmstate-handler does not spawn on ARM

[code]

nmstate does not appear on any of my ARM nodes (nearly my entire current cluster)

**What you expected to happen**:

NM state deploys on ARM cluster

**How to reproduce it (as minimally and precisely as possible)**:

Run a cluster with ARM nodes

**Anything else we need to know?

[2021-09-10 05:07] sfxworks commented on #828
Builds fine (with some flags)

[code]

`podman pull registry.mcsh.red/public/kubernetes-nmstate-handler:multiarch-main`

Though even with operator referencing the multiarch image, it still hardtags the node selector to an arm64 image

[code]

I scaled down the operator for now and removed the nodeSelector from the daemonstet. All seems to run without error.

[code]
[code]

[2021-09-10 05:37] sfxworks commented on #828
Can confirm node network configuration policy talks to nmstate successfully
https://termbin.com/n29f

[code]

[2021-09-13 06:31] qinqon commented on #828
@sfxworks we will try to integrate with buildx to also push arm images

[2021-09-15 08:26] qinqon opened #831 "Add knobs to NNCP to tune the connectivity probes"
**What happened**:
If the default gw want to be explicitly removed or ICMP is not working at next-hop-address the probes are not going to work as expected.

**What you expected to happen**:
Probes to run when needed towards what user want to check.

We need to add some knobs to NNCP to activate/deactivate ping and dns proba and also set the address to ping or resolv.

**How to reproduce it (as min

[2021-09-16 12:54] qinqon commented on #828
@sfxworks I don't have ARM hardware to test this, can you check that https://github.com/nmstate/kubernetes-nmstate/pull/830 is working fine for you ?

[2021-09-21 07:26] qinqon opened #835 "NNCP failing if a node has a transitory not ready state."
**What happened**:
Applying a NNCP on cluster with unexpected non ready node that is going to be ready (for example in the middle of an upgrade) make the NNCP fail.

**What you expected to happen**:
kubernetes-nmstate should apply the NNCP at the nodes that are ready and wait to apply it to the nodes that are not ready until they are.

**How to reproduce it (as minimally and precisely as possible)

[2021-09-23 07:34] rhrazdil commented on #192
I'm opening this again as the issue appears now and then in the handler lane.
Also, very similar issue appears when the same scenario is done with ovs-bridge.

More investigation is needed, but the node reboot seems to be the common divisor here.

[2021-09-30 13:18] #828 closed

[2021-09-30 15:05] sfxworks commented on #828
oh sorry, I didn't see this PR,
I'll test this this week

[2021-10-01 15:22] rhrazdil commented on #192
After taking closer look at this issue I think I have come to understanding what is going on.
The test scenario goes as follows:
1. Create NNCP
2. Restart node (do not wait for restart to complete)
3. t1 = time.Now()
4. Wait for a NNS LastSuccessfulUpdate timestamp to be >= t1  (so wait until timestamp of nns is newer than time right after rebooting the node)

I believe the problem is that when th

[2021-10-04 05:21] #212 closed

[2021-10-04 11:36] #192 closed

[2021-10-05 03:38] williamcaban opened #847 "[RFE] Add support for VRF"
**Request for Enhancement**:

Currently `Kubernetes-nmstate` does not support creation of VRF which is already supported by `nmstate` [See nmstate API](https://nmstate.io/devel/api.html#virtual-routing-and-forwarding-vrf)

The ask is to add support to VRFs to Kubernetes-nmstate to be able to handle overlapping IPs and isolated Layer3 from host level namespace.

[2021-11-02 10:00] phoracek opened #864 "[RFE] Extract nmstate API schema into a dedicated repository"
**What happened**:

Due to the API being a part of this repository, anybody who wants to vendor it into their project can suffer a dependency hell. As there are new nmstate API based projects being created, written in Go, this becomes a problem.

**What you expected to happen**:

The API schema should be extracted to a dedicated repository.

[2021-11-02 10:13] filanov commented on #864
It doesn't need to be a dedicated repo, maybe just a different sub-module https://github.com/go-modules-by-example/submodules

[2021-11-02 10:14] filanov commented on #864
example from hive https://github.com/openshift/hive/tree/master/apis

[2021-11-11 14:03] rhrazdil opened #875 "Add e2e test connecting ovs-bridge with default NIC and linux-bridge via veth"
However, this is currently blocked by an nmstate bug that causes removing ovs-bridge to fail (sometimes).
Let's include this scenario when https://bugzilla.redhat.com/show_bug.cgi?id=2012420 is resolved

See https://github.com/nmstate/kubernetes-nmstate/pull/861#issuecomment-966324753

[2021-11-11 14:03] rhrazdil commented on #875
/assign @rhrazdil

[2021-11-12 14:39] phoracek commented on #864
Thanks @filanov that helps o/

[2021-11-14 09:49] filanov commented on #864
Hey @phoracek opened https://github.com/nmstate/kubernetes-nmstate/pull/878

[2021-11-15 22:43] RamLavi opened #882 "managed-by label of nmstate-ca secret is wrong"
**What happened**:
the managed-by label value of self deployed objects should not be inherited from CNAO/HCO CR.
[code]
**What you expected to happen**:
It must be `app.kubernetes.io/managed-by: kubernetes-nmstate-webhook` (pretty sure it's the webhook, right?)

**How to reproduce it (as minimally and precisely as possible)**:
deploy HCO/CNAO and take a look at the secret label.

**Anything else w

[2021-11-19 14:49] #515 closed

[2021-11-22 12:11] #767 closed

[2021-11-24 14:00] #822 closed

[2021-12-06 13:12] rhrazdil opened #927 "DNS tests are blocking CI"
**What happened**:

DNS tests are failing consistently

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- `NodeNetworkState` on affected nodes (use `kubectl get nodenetworkstate <node_name> -o yaml`):
- Problematic `NodeNetworkConfigurationPolicy`:
- kubernetes-nmstate image (use `kubectl ge

[2021-12-06 15:15] rhrazdil opened #930 "Error messages are malformed in NNCE"
**What happened**:

When applying the following desiredState:
[code]

The output of nmstatectl is:
[code]

The output of NNCE is
[code]

**What you expected to happen**:
The output in NNCE is missing `:` after properties and values are indented on new line.
It's expected from the NNCE to yield the same formatting as from nmstatectl

**How to reproduce it (as minimally and precisely as possible)**:

[2021-12-06 15:15] rhrazdil commented on #930
/assign @tompsota

[2021-12-06 16:04] rhrazdil opened #931 "NNCE encodedMessage cannot be decompressed with standard linux utilities"
**What happened**:

[code]

**What you expected to happen**:
We should be able to decompress the content with a standardized utility

[2021-12-07 07:07] #927 closed

[2021-12-07 09:10] qinqon commented on #931
Isn't this suppose to be just base64 ?

[2021-12-07 10:11] phoracek commented on #931
base64 of the whole log takes 3 screens of space and is unwieldy in the NNCE. If we want to keep the whole traceback there and not only in the log, it should not be too distracting - with compression, it becomes okish to keep space-wise

[2021-12-08 13:23] tompsota commented on #931
/assign @tompsota

[2021-12-10 10:57] #930 closed

[2021-12-10 15:06] #931 closed

[2021-12-20 11:16] dankenigsberg commented on #725
I would like to see a policy that lets me express "allocate a static address within the specified subnet, unique in this cluster, preferring the one already used".

[code]

but something less smart such as "take the address from a specific node label" may be helpful too.

[code]

[2021-12-20 11:51] EdDev commented on #725
This will push us in the business of managing pools and allocating addresses.
I do not think we are looking to go into that direction.
A softer option could be to create the interfaces from a range a the time of resolving the expression into enactments. But this will not check if other such addresses exists in other policies, enactments or nodes in general.

This one I like best. Someone else pick

[2021-12-20 13:02] dankenigsberg commented on #725
This is what customers wants; knmstate may delegate this to a different component

I'm fine with this as long as
- it works for nodes that are added after the fact, and recycles IPs of nodes that are removed
- A policy fails with a clear error if one of the IP ranges in it intersects with another range.

This can work for me - as long as I can configure the "something else" with something like
[co

[2021-12-21 08:00] oshoval commented on #882
Note please that are more entities such as enactments that are created by nmstate, so they need to be updated as well.
Generally speaking we need to do so for all the elements that were not directly deployed by CNAO

[2021-12-22 07:35] filanov commented on #864
This issue can be closed :)

[2022-01-03 11:56] phoracek commented on #864
Thanks @filanov, great stuff!

https://github.com/nmstate/kubernetes-nmstate/pull/911

[2022-01-03 11:56] #864 closed

[2022-01-25 14:06] qinqon commented on #725
Have being talking with @maiqueb, he is in contact with whereabouts team and looks like creating an API for their IPPool feature is something they would like to have, we are going to meet with them and present the knmstate user-case.

[2022-01-26 06:31] EdDev commented on #725
I want to put one restraint on whatever is chosen here as a valid solution:
- k-nmstate should not depend on any other tool directly. It should surely not query some CRD or call it using gRPC or alike.
  I think it is fine for some tool/service to allocate addresses in a format that k-nmstate can use indirectly (e.g. create a config-map, then k-nmstate taking that and overriding the desired state

[2022-01-26 08:54] qinqon commented on #725
You mean consume directly the configmap from a tool like whereabouts ? another option would be to consume whereabouts as a library to re-use the reserve/deallocate logic.

[2022-01-26 09:47] maiqueb commented on #725
Makes sense to not depend on whereabouts for IPAM, even if it would be the single IPAM provider for the time being.

Correct me if I'm wrong @EdDev, but an `IPAM` interface - where whereabouts is only one type of provider - would address your concerns. How it would look like (i.e. which communication medium, what a request/reply look like, etc) are to be designed.

[2022-01-26 09:47] EdDev commented on #725
I mean that I do not want k-nmsate to know about whereabouts, or any other solution. It should be completely decoupled from the provider of this functionality.
Either that service (e.g. whereabouts) will annotate something, add a configmap or whatever else is possible so k-nmstate can consume it as input, or let some 3rd controller do that (connect the dots).

[2022-01-26 09:49] EdDev commented on #725
IPAM in the context we are discussin is one such "interface" I guess. So I think we are in sync here.

[2022-01-26 09:50] qinqon commented on #725
I misunderstood, creating some IPAM client interface with implementatin selected at runtime would be enough ?

[2022-01-31 10:25] rhrazdil opened #978 "use x-kubernetes-validations for CRD field validations if possible"
**What happened**:

K8S has a feature that allows specifying field constrains in CRD definition.
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#wg-odf-sre-validation

We could use this feature and get rid of some of our webhookd, that currently take care of validation the fields.

[2022-02-01 11:00] tompsota commented on #978
/assign tompsota

[2022-02-08 08:57] rhrazdil commented on #644
This should be now fixed completely by https://github.com/nmstate/kubernetes-nmstate/pull/982

[2022-02-08 08:57] #644 closed

[2022-02-08 09:19] rhrazdil commented on #835
Fixed via https://github.com/nmstate/kubernetes-nmstate/pull/981

[2022-02-08 09:19] #835 closed

[2022-02-08 09:20] rhrazdil commented on #835
/assign @rhrazdil

[2022-02-25 08:03] qinqon commented on #978
We close this issue, @tompsota gave good reasons.

[2022-02-25 08:03] #978 closed

[2022-03-04 14:02] phoracek opened #1001 "Improve NNCP status reporting in `kubectl get nncp`"
**What happened**:

NNCP Available condition reason should be exposed in `kubectl get` When the status is Unknown, there's no visible status of the resource.

**What you expected to happen**:

For easier debugging it will be useful to add a column with the current reason for "'status': 'Unknown', 'type': 'Available'"

**How to reproduce it (as minimally and precisely as possible)**:

**Anything el

[2022-03-17 07:15] rhrazdil opened #1011 "Test kubernetes-nmstate upgrade"
**What happened**:
We've experienced hitting an issue on knmstate upgrade, that was introduced by knmstate dependency.
We should test upgrades don't break policies that are already deployed in the cluster, and that these re-reconcile successfully.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment

[2022-03-23 22:00] #1001 closed

[2022-03-24 06:11] rhrazdil opened #1024 "CI log artifacts seem incomplete"
**What happened**:
It seems that after migration to ginkgo v2, the logs are not showing the part that begins and ends with failing spec.
Instead there is only full log.

Moreover though, the full log seems to be incomplete too,
taking this run as an example:
https://prow.ci.kubevirt.io/view/gs/kubevirt-prow/pr-logs/pull/nmstate_kubernetes-nmstate/1023/pull-kubernetes-nmstate-e2e-handler-k8s/150662

[2022-03-28 10:22] qinqon commented on #1024
After the migratino to ginkgo v2 there should be a new directory under artifacts per failed test case, we have to check what the reporter is not being run.

[2022-04-04 13:01] creydr opened #1031 "Use cache in Dockerfiles to speed up builds again"
**What happened**:
In the Dockerfiles we had `--mount=type=cache,target=/root/.cache/go-build` to speed up the builds:

https://github.com/nmstate/kubernetes-nmstate/blob/20dc69bdc67eadf915639b907e4faf27f2724a32/build/Dockerfile#L15

https://github.com/nmstate/kubernetes-nmstate/blob/20dc69bdc67eadf915639b907e4faf27f2724a32/build/Dockerfile.operator#L14

Unfortunately the cache type is not support

[2022-04-17 12:30] wdrdres3qew5ts21 opened #1053 "Installation file seem missing for many release"
**What happened**:
I want to install kubernetes-nmstate operator but somehow after I go to release section every file is missing.
Is there any guide for installation method ?
Here is release link : https://github.com/nmstate/kubernetes-nmstate/releases/tag/v0.64.13

[code]
<img width="886" alt="image" src="https://user-images.githubusercontent.com/25000903/163714271-0dbcddde-ef68-4b31-94fb-2e3291c

[2022-04-17 15:45] wdrdres3qew5ts21 opened #1054 "NMState required NetworkManager start from 1.2 version only ?"
**What happened**:
I had notice that in developer guide document said it required NetworkManager start from 1.2 version so it mean if I'm using Openshift that Worker Node using Network Manager 1.8 version my NMState operator will never working right ?
Here is my server detail
[code]
Because currently I had problem that my NNCP never display status as success or failure even though I already instal

[2022-04-19 08:31] phoracek commented on #1054
Hello. That is correct, kubernetes-nmstate won't work on  properly on NetworkManager 1.18.

[2022-04-19 08:33] phoracek commented on #1053
@qinqon it seems that our release script does not upload manifests to the GitHub release. Would you please take a look?

[2022-04-19 10:09] wdrdres3qew5ts21 commented on #1054
I see thank you for confirm :)

[2022-04-19 10:09] #1054 closed

[2022-04-19 15:14] qinqon commented on #1053
Have upload manifests on latests releases, locally the github-release tool works fine to upload stuff, but looks like at prow sometimes it does not find the tag while the release creation works fine, let's monitor it at next release.

[2022-04-24 16:51] wdrdres3qew5ts21 opened #1063 "failed to retrieve default gw at runProbes timed out waiting for the condition when Linux Bridge NNCP apply"
**What happened**:
In my DevTest environment when I apply `NodeNetworkConfigurationPolicy` then `NodeNetworkConfigurationEnactment`  will start to apply but I encounter error `failed to retrieve default gw at runProbes timed out waiting for the condition` when `Linux Bridge NNCP` apply
I'm apply `KubeVirt` and `NetworkAddOns` with `NMState` manually with myself I don't using any hyperconverged Ope

[2022-04-24 18:31] wdrdres3qew5ts21 commented on #1063
After I had try to change configure for a while seem like new version need to configure `ipv4` section  https://nmstate.io/kubernetes-nmstate/examples.html#linux-bridge  so I had changed my `NNCP` to this configure then it solved `failed to retrieve default gw at runProbes timed out waiting for the condition ` however it cause my Openshift Cluster is down I cannot access my Node anymore also I got

[2022-04-25 20:05] wdrdres3qew5ts21 commented on #1063
**_Updated_** after I found some cluster that come with Red Hat 8.3 seem like `NNCP` working right away without any problem I can using Linux Bridge to routing between Node now.
I'm using same configuration don't change anything except Host OS then it working
[code]

[2022-05-04 13:52] #1011 closed

[2022-05-05 10:56] qinqon commented on #1031
Looks like podman v4.0.0 can be installed with copr at fedora35 https://podman.io/getting-started/installation
[code]

Maybe we can re-activate this with a note on the readme

[2022-05-29 07:40] nabbas-ca opened #1090 "How to define ip list to be desired, but not the complete list?"
**What happened**:
I created an nncp policy that configures a bond on the openshift provisioning network, with 2 static ipv6 addresses. Adding bonding interface , with set of ipv6 static ips, conflicts with openshift extra VIP it configures on the bond on one of the master nodes, making the nncp policy fail.
**What you expected to happen**:
nncp policy to successfully configure, even if not the de

[2022-05-31 10:27] #113 closed

[2022-05-31 10:31] #209 closed

[2022-05-31 10:35] qinqon commented on #355
Let's adapt the default interface mac bonding test and examples to use two interfaces and do the mac cloning with https://github.com/nmstate/nmstate/blob/2599d3afa48a507d6631ce6924e3c3564dd81630/libnmstate/schema.py#L34

[2022-05-31 10:36] #507 closed

[2022-05-31 10:37] #589 closed

[2022-05-31 10:38] #609 closed

[2022-05-31 10:46] qinqon commented on #1090
@nabbas-ca can we close https://github.com/nmstate/kubernetes-nmstate/issues/727 ? it looks like an old verision of this issue.

[2022-05-31 10:47] qinqon commented on #782
Is not reproducible anymore we close it, we can open if it appears again.

[2022-05-31 10:47] #782 closed

[2022-05-31 10:48] #801 closed

[2022-05-31 10:49] #805 closed

[2022-05-31 10:53] qinqon commented on #875
It's about adding an example and integration tests.

[2022-05-31 10:56] qinqon commented on #1063
@wdrdres3qew5ts21 is this still an issue ?

[2022-05-31 11:09] qinqon commented on #1090
At newer kubernetes-nmstate (OCP 4.10) we have a `capture` feature to copy stuff from current state, if the number of "extra" ips is know we can use capture to copy them as part of the NNCP

[code]

[2022-05-31 11:42] wdrdres3qew5ts21 commented on #1063
@qinqon  If I using Red Hat 8.3 instead of 8.4 it will working without any problem for now.

[2022-06-07 02:40] loganmc10 opened #1095 "OperatorHub out of date"
**What happened**:
I see NMState on OperatorHub: https://operatorhub.io/operator/kubernetes-nmstate-operator. However, it says the latest version is 0.47.0

**What you expected to happen**:
OperatorHub should be kept up to date (or removed altogether if it's not supported)

[2022-06-08 13:44] qinqon opened #1098 "NNCP status not updated after cluster scale down"
**What happened**:
When a node from a cluster is removed the NNCP status is still showing the same number of nodes

[code]

**What you expected to happen**:

NNCP status has to be updated with current number of nodes

[code]

**How to reproduce it (as minimally and precisely as possible)**:
- Apply an NNCP
- Remove a node from the cluster
-
**Anything else we need to know?**:

**Environment**:

-

[2022-06-08 13:45] qinqon commented on #1095
We are missing automation to put new versions at operator hub @creydr can you take a look ?

[2022-06-08 14:11] creydr commented on #1095
/assign

[2022-06-14 12:45] rajinator opened #1101 "RFE: Precedence for applying NNCPs"
**What happened**:
When NNCPs are separated by layer of components on the same node/set of nodes, for example:
1. Base interface/base bond NNCP
2. NNCPS for subinterfaces to define VLANs and IPs/Routes

There is no order of precedence so upon node reboots, there's a chance that the controller may try to apply sub-interface NNCP before Base interface NNCP

This kind of use-case is essential when ha

[2022-06-14 13:12] phoracek commented on #1101
Hello @rajinator. Thanks for bringing this up.

The lack of ordering/merging was a design decision. The motivation was to keep kubernetes-nmstate as a mere shim, without understanding of the contents of the configuration (which is responsibility of nmstate itself). If there is a dependency between two interfaces, they must be defined in a single NNCP.

That being said, this would be clearly a usef

[2022-06-14 13:58] qinqon commented on #1101
Maybe we can implement a new `NodeNetworkConfigurationbTemplate` that has some capture placeholders and then have a `desiredStateFromTemplate` at NNCP to reference it, then the NNCP will fill in the placeholders creating a pair of captures with the IPs.

Something like the following:

[code]

[2022-06-14 14:02] qinqon commented on #1101
Also note that we are working in a host ip pool proposal that may be of help for you https://github.com/nmstate/kubernetes-nmstate/pull/1088

[2022-06-15 08:44] qinqon commented on #1101
We can go a step beyond and think on a scenario with hundred of nodes with static routes each, the NNCP should just define the specific parts of each nodes and a Template will have to expand per node into a NNCE.

[2022-07-15 15:39] JoseManuelPS opened #1107 "Unable to deploy v0.72.0 in OKD 4.10.0-0.okd-2022-07-09-073606"
**What happened**:
I have tried to deploy the new version v0.72.0 in an OKD cluster, the operator is deployed correctly but the pod never gets generated. This is probably due to a bug in the security context configuration.

**What you expected to happen**:
The replicaset manages to deploy the desired pod.

**How to reproduce it (as minimally and precisely as possible)**:
I have started with a comp

[2022-07-19 07:27] phoracek commented on #1107
Thanks for reporting it.

@qinqon I see that the openshift operator had a similar issue recently, fixed via https://github.com/openshift/kubernetes-nmstate/pull/287. Should we have a similar PR for upstream?

[2022-07-19 08:16] qinqon commented on #1107
We have that already https://github.com/nmstate/kubernetes-nmstate/blob/main/deploy/operator/role.yaml#L28-L34

[2022-07-19 08:22] qinqon commented on #1107
@creydr could this be related to something missing at the openshift fork ?

[2022-07-19 12:22] creydr commented on #1107
We saw this issue in the fork, as we didn't update the CSV file (https://github.com/openshift/kubernetes-nmstate/pull/287). This is merged now and should ship with one of the next 4.10 k-nmstate releases. But I don't know exactly how this correlates to OKD.

[2022-07-19 13:53] qinqon commented on #1107
Maybe the SCC upstream is missing something ?

[2022-07-27 10:10] creydr commented on #1107
I could not reproduce the exact same behavior on 4.11.0-0.okd-2022-07-27-013906. When using the 0.72 manifests the operator pod comes up, but the handler pods don't. The issue with the handler pods is addressed in #1113.

[2022-09-01 22:38] MarkSpencerTan opened #1117 "NMState Handler not deploying to Arm node on Multi-Arch Cluster"
**What happened**:
When I installed the kubernetes-nmstate into my multi-arch cluster composed of arm64 and amd64 nodes, I noticed that the nmstate handler pods are not deploying to the arm64 node. I've tried adding nodeSelectors on the CR, however, the handler DaemonSet has a hardcoded nodeSelector that is forcing it to only go on the amd64 node.

**What you expected to happen**:
The nmstate hand

[2022-09-06 11:17] #1117 closed

[2022-10-14 10:20] constcrist opened #1124 "Git URL rewriting and `make cluster-up` (i.e. local cluster testing)"
**What happened**:
`make cluster-up` would stop without properly configuring the local cluster.
Somewhere midway the installation scripts:
1. would wipe out the cloned `_kubevirtci` repository, reclone it;
2. try to access `_kubevirtci/_ci-configs/k8s-1.22/.kubectl` which is no longer there (maybe because it is not re-compiled?)
3. fail

Snippet from the logs dumped by `make cluster-up`:

[code]

[2022-10-21 05:21] #1031 closed

[2022-10-24 13:33] dougsland commented on #1124
/assign

[2022-10-31 18:05] dougsland commented on #1124
@phoracek is this one worked as expected or needs some work?

[2022-11-01 10:41] phoracek commented on #1124
@dougsland I don't know how common is the `insteadOf` config, but I'd agree that the script should be resilient enough to bring up a cluster even if there is a special config in place.